:root{
    
    --color-neutral-10: #171717;
   
    --color-neutral-40: #f5f5f5;
}

/* COMEÇO DO RODAPÉ */
* {
    font-weight: bold;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;

}
main{
    height: 100vh;
}
footer{
    width: 100%;
color: var(--color-neutral-40);
}
#footer_content{
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2rem 2.5rem;
    

}
img{

    max-width: 50px;
}

/* FIM DO RODAPÉ */

/* COMEÇO DO MENU */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif
}

div #logo img{
    position:absolute;
    max-width: 155px;
    margin-top: 3px;
    margin-left: 30px;
}
#menu_principal{
    list-style: none;
    padding: 0;
    background-color: black;
    text-align:center;
}

#menu_principal li {
    display: inline
}

#menu_principal li a {
    color: white;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: .6s;
}

#menu_principal li a:hover {
    color:black;
    background-color: white;
}
/* FIM DO COME */


nav{
    width: 100%;
    border: 0px red solid;
   
    
   
}
.submenu{
    background-color: #D9D9D9;
    border: 0px red solid;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    
    
}
.submenu a{
    color: black;
    text-decoration: none;
   
}
/* COMEÇO DOS CARDS */
/* Estilos para o body (opcional) */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Estilos para os cards */
.card {
    justify-content: center;
    display: flex;
    background-color:rgb(14, 110, 255);
    border: 2px solid #000000; /* Adicione uma borda ao card */
    border-radius: 15px;
    margin: 20px ;
    padding: 20px;
    transition: transform 0.3s ease;
  
}

.card:hover {
    transform: translateY(-8px); /* Efeito de elevação ao passar o mouse */
}

.card-content {
    flex: 1;
    padding: 10px;
}

.card h2 {
    font-size: 1.5rem;
    margin: 0;
    color: #ffffff;
}

.card p {
    font-size: 1rem;
    color: #ffffff;
}

.card img {
    width: 500px;
    max-width: 800px; /* Defina a largura máxima da imagem */
    height: 300px;
    border: 2px solid #000000; /* Adicione uma borda à imagem */
    border-radius: 15px; /* Adicione uma borda arredondada à imagem */
    margin-left: 10px; /* Adicione margem à esquerda da imagem para separá-la do texto */
}

/* FIM DOS CARDS  */