{% extends "base.html" %}

{% block header %}
<nav>
    <div class="submenu">
            <a href="#card1">Auto-Organização</a>
            <a href="#card2">Facilitação</a>
            <a href="#card3">Visão</a>
            <a href="#card4">User Stories</a>
            <a href="#card5">Estimativa</a>
            <a href="#card6">Perguntas</a>
    </div>

</nav>

{% endblock %}

{% block main %}

<div class="card" id="card1">
    <div class="card-content">
        <h2>Auto-Organização</h2>
        <br>
        <li>
            <p>
                Times auto-organizados recebem bastante autonomia, e consequentemente bastante responsabilidade. Alguns exemplos onde a auto-organização é necessária:
            </p>
        </li>
        <li>
            <p>
                Na estimativa dos itens do Product Backlog.
                Na definição dos itens que farão parte do Sprint Backlog.
                No Daily Scrum.
                No acordo com a meta da Sprint.
            </p>
        </li>
        <li>
            <p>
                Como aprender sobre a auto-organização no Scrum e aplicar na sua equipe de desenvolvimento?
            </p>
        </li>
        <li>
            <p>
                Aprender sobre a auto-organização no Scrum e aplicá-la na sua equipe. 
                Promover a confiança e a transparência na equipe.
                Encorajar a colaboração e a tomada de decisões conjuntas.
                Fomentar a aprendizagem contínua e a melhoria prática.
                Estabelecer uma visão clara.
                Definir papéis e responsabilidades.
                Promover a colaboração e o compartilhamento de conhecimento.
                Utilizar ferramentas de gestão visual.
            </p>
        </li>
    </div>
    <img src="img/facilitação.jpg" alt="Imagem 1">
</div>

<div class="card" id="card2">
    <div class="card-content">
        <h2>Facilitação</h2>
        <br>
        <li>
            <p>
                Segundo Peter Pfeiffer no livro Facilitação de Projetos, “um facilitador é um catalisador para as diversas ideias que se apresentam em um grupo”. Assim, um facilitador procura sempre:
            </p>
        </li>
        <li>
            <p>
                Otimizar processos de aprendizagem.
                Evitar que o grupo tome decisões erradas.
                Detectar e reduzir conflitos para aumentar a produtividade.
                Evitar que um grupo seja dominado por um indivíduo que se impõe.
                Motivar as pessoas mais tímidas e proporcionar uma participação mais ativa.
                Fazer com que a equipe entenda, aceite, apoie e tome decisões.
                E até mesmo, quando necessário, cobre do time alguma ação ou seja o que for, para que não aconteça do projeto ficar parado no lugar.
            </p>
        </li>
    </div>
    <img src="img/facilitação.jpg" alt="Imagem 1">
</div>

<div class="card" id="card3">
    <div class="card-content">
        <h2>Visão</h2>
        <br>
        <li>
            <p>
                Apesar de não ser oficialmente uma cerimônia Scrum, a Reunião de Visão do produto permite ao Product Owner expôr ao Development Team e ao Scrum Master a visão do produto que norteará o projeto. Nesta reunião, o Product Owner pode coletar sugestões e idéias para compor o Product Backlog. Esta reunião é importante para que todos dentro do Time Scrum saibam o direcionamento do projeto. Através desta visão, o Development Team sabe durante todo o ciclo de vida do projeto se estão ou não se desviando da visão original.
            </p>
        </li>
        <li>
            <p>
                Criar uma Declaração de Visão também ajuda a definir a finalidade do produto. Em resumo, técnicas como “Elevator Statement , Product Vision Box, Product Roadmap, Project Datasheet”,nos ajudam a descrever o produto em poucas sentenças. Com isto, temos uma clareza maior sobre o que é o produto e para que ele serve.
            </p>
        </li>
    </div>
    <img src="img/facilitação.jpg" alt="Imagem 1">
</div>

<div class="card" id="card4">
    <div class="card-content">
        <h2>User Stories</h2>
        <br>
        <li>
            <p>
                Método utilizado pelo P.O, tendo a função de descrever uma funcionalidade ao cliente, em termos de negócio, não mantendo uma forma técnica.
            </p>
        </li>
        <li>
            <p>
                O User Stories tem que estar altamente alinhado com INVEST:
                
                Independent - idealmente, pode ser implementado em qualquer ordem.
                Negotiable - pode ser negociável.
                Valuable - possui valor ao cliente.
                Estimatable - é capaz de ser estimado e ordenado. 
                Small - pequeno e com descrição curta.
            </p>
        </li>
        <li>
            <p>
                Modelo mais utilizado do user stories: 
                
                - Eu, como um (papel), gostaria de (funcionalidade) para (motivo).
                
                Papel: Tipo de usuário que está utilizando o produto.
                Funcionalidade: Funcionalidade desejada.
                Motivo: Propósito da funcionalidade.
            </p>
        </li>
        <li>
            <p>
                Possui três aspectos:
                
                Uma descrição escrita da história como um lembrete.
                Conversas sobre a história que servem para detalha-la.
                Testes que conduzem e documentam aspectos importantes da história e que podem determinar quando ela está completa.
            </p>
        </li>
        <li>
            <p>
                Além dos aspectos, o método apresenta um cartão de notas, definido em 3Cs:
                
                Cartão.
                Conversão.
                Confirmação.
            </p>
        </li>
    </div>
    <img src="img/facilitação.jpg" alt="Imagem 1">
</div>

<div class="card" id="card5">
    <div class="card-content">
        <h2>Estimativa</h2>
        <br>
        <li>
            <p>
                É uma medida de tempo totalmente relacionado com o nível de esforço de uma tarefa.
            </p>
        </li>
        <li>
            <p>
                É aplicado em uma dinâmica em grupo em que os integrantes recebem cards, no qual darão suas estimativas baseadas em sequência, a mais utilizada é a de Fibonacci (0, 1 ,2, 3, 5, 8, 13, 20, 40, 100, exemplo).
            </p>
        </li>
        <li>
            <p>
                O P.O lê a descrição e tira quaisquer dúvidas que alguém do time tenha, vendo a descrição da tarefa cada membro seleciona uma carta ilustrando sua estimativa, sem mostrar aos outros. Após todos selecionarem os cards, é feita uma comparação entre eles, pois normalmente são diferentes. Assim todos entram em um consenso, mediante ao nível de esforço que cada um estimou, logo facilitando a entrega de resultados.
            </p>
        </li>
    </div>
    <img src="img/facilitação.jpg" alt="Imagem 1">
</div>

<!--Início das perguntas-->
<main>
    <section>
        <div class="container">
            <p>
                1- Qual é um dos principais requisitos para que a auto-organização funcione efetivamente em uma equipe Scrum?
            </p>
            <div class="choice-container">
                <span class="choice-prefix">A</span>
                <span class="choice-text">Ter um líder designado para tomar todas as decisões.</span>
            </div>
            <div class="choice-container">
                <span class="choice-prefix">B</span>
                <span class="choice-text">Trabalhar em busca de uma meta compartilhada.</span>
            </div>
            <div class="choice-container">
                <span class="choice-prefix">C</span>
                <span class="choice-text">Ter um processo estritamente hierárquico.</span>
            </div>
            <div class="choice-container">
                <span class="choice-prefix">D</span>
                <span class="choice-text">Ter regras rígidas de disciplina.</span>
            </div>
            <div>
                <strong>Justificativa: Alternativa correta: B. A auto-organização em uma equipe Scrum requer que os membros da equipe trabalhem juntos em direção a uma meta compartilhada. Isso significa que eles devem estar alinhados com os objetivos do projeto ou da sprint e colaborar para alcançá-los. Sem uma meta compartilhada, a equipe pode ter dificuldade em tomar decisões e priorizar tarefas de forma eficaz, o que pode levar a problemas de organização e produtividade. Portanto, a busca por uma meta compartilhada é um requisito fundamental para que a auto-organização funcione adequadamente em Scrum.</strong>
            </div>

            <p>
                2 - Qual é uma das principais responsabilidades de um facilitador relação à facilitação de reuniões e interações da equipe Scrum?
            </p>
            <div class="choice-container">
                <span class="choice-prefix">A</span>
                <span class="choice-text">Influenciar ativamente nas decisões do time.</span>
            </div>
            <div class="choice-container">
                <span class="choice-prefix">B</span>
                <span class="choice-text">Mediar conflitos entre os membros da equipe.</span>
            </div>
            <div class="choice-container">
                <span class="choice-prefix">C</span>
                <span class="choice-text">Julgar as ações e ideias apresentadas pelo time.</span>
            </div>
            <div class="choice-container">
                <span class="choice-prefix">D</span>
                <span class="choice-text">Falar mais do que ouvir durante as reuniões.</span>
            </div>
            <div>
                <strong>Justificativa: Alternativa correta: B. Mediar conflitos entre os membros da equipe. O Scrum Master desempenha um papel importante na facilitação, e uma das suas responsabilidades é mediar conflitos quando surgem entre os membros da equipe. Isso ajuda a manter um ambiente de trabalho colaborativo e produtivo, o que é essencial para o sucesso do Scrum. As outras opções, como influenciar ativamente nas decisões do time ou dominar as discussões, não são práticas apropriadas para um Scrum Master, pois sua função principal é apoiar e orientar a equipe, não impor suas próprias ideias ou agendas.</strong>
            </div>

            <p>
                3 - Qual é o objetivo principal da Reunião de Visão do produto no contexto Scrum?
            </p>
            <div class="choice-container">
                <span class="choice-prefix">A</span>
                <span class="choice-text">Criar um cronograma detalhado para o projeto.</span>
            </div>
            <div class="choice-container">
                <span class="choice-prefix">B</span>
                <span class="choice-text">Coletar sugestões e ideias para o Product Backlog.</span>
            </div>
            <div class="choice-container">
                <span class="choice-prefix">C</span>
                <span class="choice-text">Definir a estratégia de marketing do produto.</span>
            </div>
            <div class="choice-container">
                <span class="choice-prefix">D</span>
                <span class="choice-text">Avaliar o desempenho individual dos membros da equipe.</span>
            </div>
            <div>
                <strong>Justificativa: Alternativa correta: B. Coletar sugestões e ideias para o Product Backlog. A Reunião de Visão do produto tem como principal objetivo permitir que o Product Owner exponha a visão do produto ao Development Team e ao Scrum Master, além de coletar sugestões e ideias para compor o Product Backlog. É uma oportunidade para alinhar a equipe em relação à visão do projeto e obter contribuições valiosas dos membros da equipe para o backlog. As outras opções não são os objetivos principais dessa reunião no contexto Scrum.</strong>
            </div>

            <p>
                4 - Qual é o método descrito, utilizado pelo Product Owner (P.O) no Scrum, para descrever uma funcionalidade ao cliente em termos de negócio, não mantendo uma forma técnica?
            </p>
            <div class="choice-container">
                <span class="choice-prefix">A</span>
                <span class="choice-text">Product Vision</span>
            </div>
            <div class="choice-container">
                <span class="choice-prefix">B</span>
                <span class="choice-text">User Stories</span>
            </div>
            <div class="choice-container">
                <span class="choice-prefix">C</span>
                <span class="choice-text">Sprint Planning</span>
            </div>
            <div class="choice-container">
                <span class="choice-prefix">D</span>
                <span class="choice-text">Backlog Prioritization</span>
            </div>
            <div>
                <strong>Justificativa: Alternativa correta: B. O método descrito é usado para criar User Stories, que são uma forma de descrever funcionalidades do produto em termos de negócio, de forma simples e compreensível para o cliente e a equipe. Os User Stories incluem uma descrição escrita da história, conversas para detalhar a história e testes que documentam aspectos importantes da história. Além disso, são definidos em um formato específico, geralmente seguindo o padrão "Eu, como um (papel), gostaria de (funcionalidade) para (motivo)". Essas histórias devem estar alinhadas com os critérios INVEST (Independent, Negotiable, Valuable, Estimatable, Small) para serem eficazes no desenvolvimento ágil.</strong>
            </div>
            <p>
                5 - O que é o método descrito que ajuda a estimar o esforço de uma tarefa no Scrum?
            </p>
            <div class="choice-container">
                <span class="choice-prefix">A</span>
                <span class="choice-text">Planning Poker</span>
            </div>
            <div class="choice-container">
                <span class="choice-prefix">B</span>
                <span class="choice-text">Planning Poker</span>
            </div>
            <div class="choice-container">
                <span class="choice-prefix">C</span>
                <span class="choice-text">Daily Standup</span>
            </div>
            <div class="choice-container">
                <span class="choice-prefix">D</span>
                <span class="choice-text">Scrum Master Review</span>
            </div>
            <div>
                <strong>Justificativa: Alternativa correta: B. O método descrito é conhecido como Planning Poker, uma técnica usada no Scrum para estimar o esforço de uma tarefa. Os membros da equipe recebem cartas com valores de estimativa, como os da sequência de Fibonacci, e escolhem uma carta para representar sua estimativa pessoal para a tarefa. Em seguida, as estimativas são comparadas e discutidas para chegar a um consenso sobre o esforço necessário para concluir a tarefa. O Planning Poker ajuda a equipe a obter uma compreensão compartilhada do trabalho a ser feito e a facilitar o planejamento das Sprints.</strong>
            </div>
        </div>  
    </section>
</main>
<!--Fim das perguntas-->

{% endblock %}
