{% extends "base.html" %}

{% block header %}
<nav>
    <div class="submenu">
            <a href="#card1">Auto-Organização</a>
            <a href="#card2">Facilitação</a>
            <a href="#card3">Visão</a>
            <a href="#card4">User Stories</a>
            <a href="#card5">Estimativa</a>
            <a href="#card6">Perguntas</a>
    </div>

</nav>

{% endblock %}

{% block main %}

<div class="card" id="card1">
    <div class="card-content">
        <h2>Auto-Organização</h2>
        <p>Texto médio a grande do Card 1. Você pode adicionar mais texto aqui.</p>
        <li>
            <p>
                Times auto-organizados recebem bastante autonomia, e consequentemente bastante responsabilidade. Alguns exemplos onde a auto-organização é necessária:
            </p>
        </li>
        <li>
            <p>
                Na estimativa dos itens do Product Backlog.
                Na definição dos itens que farão parte do Sprint Backlog.
                No Daily Scrum.
                No acordo com a meta da Sprint.
            </p>
        </li>
        <li>
            <p>
                Como aprender sobre a auto-organização no Scrum e aplicar na sua equipe de desenvolvimento?
            </p>
        </li>
        <li>
            <p>
                Aprender sobre a auto-organização no Scrum e aplicá-la na sua equipe. 
                Promover a confiança e a transparência na equipe.
                Encorajar a colaboração e a tomada de decisões conjuntas.
                Fomentar a aprendizagem contínua e a melhoria prática.
                Estabelecer uma visão clara.
                Definir papéis e responsabilidades.
                Promover a colaboração e o compartilhamento de conhecimento.
                Utilizar ferramentas de gestão visual.
            </p>
        </li>
    </div>
    <img src="img/facilitação.jpg" alt="Imagem 1">
</div>

<div class="card" id="card2">
    <div class="card-content">
        <h2>Facilitação</h2>
        <p>Texto médio a grande do Card 1. Você pode adicionar mais texto aqui.</p>
        <li>
            <p>
                Segundo Peter Pfeiffer no livro Facilitação de Projetos, “um facilitador é um catalisador para as diversas ideias que se apresentam em um grupo”. Assim, um facilitador procura sempre:
            </p>
        </li>
        <li>
            <p>
                Otimizar processos de aprendizagem.
                Evitar que o grupo tome decisões erradas.
                Detectar e reduzir conflitos para aumentar a produtividade.
                Evitar que um grupo seja dominado por um indivíduo que se impõe.
                Motivar as pessoas mais tímidas e proporcionar uma participação mais ativa.
                Fazer com que a equipe entenda, aceite, apoie e tome decisões.
                E até mesmo, quando necessário, cobre do time alguma ação ou seja o que for, para que não aconteça do projeto ficar parado no lugar.
            </p>
        </li>
    </div>
    <img src="img/facilitação.jpg" alt="Imagem 1">
</div>

<div class="card" id="card3">
    <div class="card-content">
        <h2>Visão</h2>
        <p>Texto médio a grande do Card 1. Você pode adicionar mais texto aqui.</p>
        <li>
            <p>
                Apesar de não ser oficialmente uma cerimônia Scrum, a Reunião de Visão do produto permite ao Product Owner expôr ao Development Team e ao Scrum Master a visão do produto que norteará o projeto. Nesta reunião, o Product Owner pode coletar sugestões e idéias para compor o Product Backlog. Esta reunião é importante para que todos dentro do Time Scrum saibam o direcionamento do projeto. Através desta visão, o Development Team sabe durante todo o ciclo de vida do projeto se estão ou não se desviando da visão original.
            </p>
        </li>
        <li>
            <p>
                Criar uma Declaração de Visão também ajuda a definir a finalidade do produto. Em resumo, técnicas como “Elevator Statement , Product Vision Box, Product Roadmap, Project Datasheet”,nos ajudam a descrever o produto em poucas sentenças. Com isto, temos uma clareza maior sobre o que é o produto e para que ele serve.
            </p>
        </li>
    </div>
    <img src="img/facilitação.jpg" alt="Imagem 1">
</div>

<div class="card" id="card4">
    <div class="card-content">
        <h2>User Stories</h2>
        <p>Texto médio a grande do Card 1. Você pode adicionar mais texto aqui.</p>
        <li>
            <p>
                Método utilizado pelo P.O, tendo a função de descrever uma funcionalidade ao cliente, em termos de negócio, não mantendo uma forma técnica.
            </p>
        </li>
        <li>
            <p>
                O User Stories tem que estar altamente alinhado com INVEST:
                
                Independent - idealmente, pode ser implementado em qualquer ordem.
                Negotiable - pode ser negociável.
                Valuable - possui valor ao cliente.
                Estimatable - é capaz de ser estimado e ordenado. 
                Small - pequeno e com descrição curta.
            </p>
        </li>
        <li>
            <p>
                Modelo mais utilizado do user stories: 
                
                - Eu, como um (papel), gostaria de (funcionalidade) para (motivo).
                
                Papel: Tipo de usuário que está utilizando o produto.
                Funcionalidade: Funcionalidade desejada.
                Motivo: Propósito da funcionalidade.
            </p>
        </li>
        <li>
            <p>
                Possui três aspectos:
                
                Uma descrição escrita da história como um lembrete.
                Conversas sobre a história que servem para detalha-la.
                Testes que conduzem e documentam aspectos importantes da história e que podem determinar quando ela está completa.
            </p>
        </li>
        <li>
            <p>
                Além dos aspectos, o método apresenta um cartão de notas, definido em 3Cs:
                
                Cartão.
                Conversão.
                Confirmação.
            </p>
        </li>
    </div>
    <img src="img/facilitação.jpg" alt="Imagem 1">
</div>

<div class="card" id="card5">
    <div class="card-content">
        <h2>Estimativa</h2>
        <p>Texto médio a grande do Card 1. Você pode adicionar mais texto aqui.</p>
        <li>
            <p>
                É uma medida de tempo totalmente relacionado com o nível de esforço de uma tarefa.
            </p>
        </li>
        <li>
            <p>
                É aplicado em uma dinâmica em grupo em que os integrantes recebem cards, no qual darão suas estimativas baseadas em sequência, a mais utilizada é a de Fibonacci (0, 1 ,2, 3, 5, 8, 13, 20, 40, 100, exemplo).
            </p>
        </li>
        <li>
            <p>
                O P.O lê a descrição e tira quaisquer dúvidas que alguém do time tenha, vendo a descrição da tarefa cada membro seleciona uma carta ilustrando sua estimativa, sem mostrar aos outros. Após todos selecionarem os cards, é feita uma comparação entre eles, pois normalmente são diferentes. Assim todos entram em um consenso, mediante ao nível de esforço que cada um estimou, logo facilitando a entrega de resultados.
            </p>
        </li>
    </div>
    <img src="img/facilitação.jpg" alt="Imagem 1">
</div>

{% endblock %}
