{% extends "base.html" %}

{% block header %}
<nav>
    <div class="submenu">
            <a href="#card1">Backlog do Protudo</a>
            <a href="#card2">Backlog da Sprint</a>
            <a href="#card3">Incremento do Protudo</a>
            <a href="#card4">Gráfico burndown</a>
            <a href="#card5">Definição de "concluído"</a>
            <a href="#card6">Perguntas</a>
    </div>

</nav>

{% endblock %}

{% block main %}
<body>
    <div class="container1" id="card1">
        <div>
        <h2>Backlog do Produto</h2>
        <div class="conteudo1">
            <ul>
                <li>É uma lista de recursos novos, aprimoramento, tarefas ou requisitos de trabalho;</li>
                <li>Compilado a partir de fontes de informações como suporte ao cliente, análise <br> da concorrência e demandas de mercado;</li>
                <li>Considerado “dinâmico”, pois é atualizado sob demanda a medida que novas <br> informações estão disponíveis.</li>
            </ul>
        </div>
        </div>
    </div>

    <div class="container2" id="card2">
        <div>
        <h2>Backlog da Sprint</h2>
        <div class="conteudo2">
            <ul>
                <li>Conjuntos de tarefas de backlog do produto que foram promovidas a serem <br> desenvolvidas durante o próximo incremento do produto;</li>
                <li>Essa lista representa uma previsão de quais itens o Time de Desenvolvimento <br> conseguirão entregar naquela Sprint;</li>
                <li>Criado na Reunião de Planejamento da Sprint.</li>
            </ul>
        </div>
        </div>
    </div>

    <div class="container3" id="card3">
        <div>
        <h2>Incremento do Protudo</h2>
        <div class="conteudo3">
            <ul>
                <li>Novas funcionalidades e melhorias no que foi produzido anteriormente;</li>
                <li>Quando há necessidades de mudanças um item é adicionado ao Backlog <br> do Produto;</li>
                <li>Como resultado, o incremento do produto deve ser utilizável.</li>
            </ul>
        </div>
        </div>
    </div>

    <div class="container4" id="card4">
        <div>
        <h2>Gráfico burndown</h2>
        <div class="conteudo4">
            <ul>
                <li>Não é um artefato oficial do Scrum;</li>
                <li>Muitas equipes utilizam para se comunicar e acompanhar o progresso <br> em relação ao objetivo da Sprint;</li>
                <li>São úteis para ajudar e avaliar a velocidade de execução da equipe para que <br> ela saiba se vai concluir ou precisará se reorganizar.</li>
            </ul>
        </div>
        </div>
    </div>

    <div class="container5" id="card5">
        <div>
        <h2>Definição de "concluído"</h2>
        <div class="conteudo5">
            <ul>
                <li>É importante que todos da equipe tenham uma clara visão de “concluído”;</li>
                <li>Deve ser documentado e compartilhado;</li>
                <li>Ajuda a definir os limites do incremento e também define quando as tarefas <br> estão prontas e podem ser fechadas.</li>
            </ul>
        </div>
        </div>
    </div>

    <h2 id="perguntas_artefatos">Perguntas</h2>
    <div class="container_perguntas">
    <section>
        <div class="container">
                <p>1.Imagine que você está liderando uma equipe de desenvolvimento de software usando o Scrum para criar um novo 
                    aplicativo de gerenciamento de tarefas. Nesse contexto, qual dos seguintes artefatos Scrum seria o mais apropriado para
                    documentar as funcionalidades que a equipe planeja desenvolver?</p>
                <div class="choice-container">
                    <span class="choice-prefix">A</span>
                    <span class="choice-text">Backlog do Protudo</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">B</span>
                    <span class="choice-text">Backlog da Sprint</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">C</span>
                    <span class="choice-text">Incremento</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">D</span>
                    <span class="choice-text">Burndown Chart</span>
                </div>
                <div>
                    <strong>Justificativa:</strong>
                    <p>Alternativa correta : A. O Backlog do Produto se trata de uma lista priorizada, com funcionalidades e requisitos que deverão ser entregues ao longo das Sprints.</p>
                    <p></p>
                </div>
        </div>
    </section>

    <hr>

    <section>
        <div class="container">
                <p>2.Durante uma Reunião de Planejamento da Sprint, a equipe de desenvolvimento está discutindo a capacidade de entrega 
                    para a próxima Sprint. Qual artefato Scrum é utilizado como referência para entender a capacidade da equipe e ajudar 
                    na seleção de itens para o Sprint Backlog?</p>
                <div class="choice-container">
                    <span class="choice-prefix">A</span>
                    <span class="choice-text">Definição de "concluído"</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">B</span>
                    <span class="choice-text">Backlog da Sprint</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">C</span>
                    <span class="choice-text">Incremento do Protudo</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">D</span>
                    <span class="choice-text">Burndown Chart</span>
                </div>
                <div>
                    <strong>Justificativa:</strong>
                    <p>Alternativa correta : C. O Incremento é o resultado do trabalho realizado pela equipe de desenvolvimento até o momento e representa a soma de todas as tarefas completadas até aquele ponto, assim sendo importante ter essa referência para realizar a seleção da próxima Sprint Backlog.</p>
                </div>
        </div>
    </section>

    <hr>

    <section>
        <div class="container">
                <p>3.Durante uma Sprint, a equipe de desenvolvimento está trabalhando no Sprint Backlog. Qual dos seguintes artefatos
                    Scrum é usado para rastrear o progresso da Sprint em relação ao trabalho planejado e é representado por um gráfico 
                    que mostra a tendência da conclusão das tarefas ao longo do tempo?</p>
                <div class="choice-container">
                    <span class="choice-prefix">A</span>
                    <span class="choice-text">Backlog do Protudo</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">B</span>
                    <span class="choice-text">Burndown Chart</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">C</span>
                    <span class="choice-text">Definição de "concluído"</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">D</span>
                    <span class="choice-text">Backlog da Sprint</span>
                </div>
                <div>
                    <strong>Justificativa:</strong>
                    <p>Alternativa correta: B. O Burndown Chart é um artefato Scrum usado para rastrear o progresso da Sprint em relação ao trabalho planejado.</p>
                </div>
        </div>
        </section>

        <hr>

        <section>
            <div class="container">
                    <p>4.Qual é o principal objetivo de manter um backlog de sprint atualizado em um projeto de desenvolvimento ágil?</p>
                    <div class="choice-container">
                        <span class="choice-prefix">A</span>
                        <span class="choice-text">Garantir que todas as histórias de usuário sejam implementadas em cada sprint</span>
                    </div>
                    <div class="choice-container">
                        <span class="choice-prefix">B</span>
                        <span class="choice-text">Manter um registro de todas as atividades realizadas durante a sprint</span>
                    </div>
                    <div class="choice-container">
                        <span class="choice-prefix">C</span>
                        <span class="choice-text">Priorizar e organizar as tarefas que serão trabalhadas na próxima sprint</span>
                    </div>
                    <div class="choice-container">
                        <span class="choice-prefix">D</span>
                        <span class="choice-text">Criar um histórico de todas as tarefas concluídas durante o projeto</span>
                    </div>
                    <div>
                        <strong>Justificativa:</strong>
                        <p>Alternativa correta: C. O Backlog da Sprint é um conjunto dos itens do Backlog do Protudo selecionados para Sprint, juntamente com o plano de incremento, é de suma importância sua atualização de acordo com as necessidades criadas durante a Sprint.
                    </div>
            </div>
            </section>
        </div>
    
</body>
{% endblock %}
