{% extends "base.html" %}

{% block main %}

<main class="Bibliografia">
    <div class="linha"></div>
    
   <section>
        <div class="imagem_web">
            <img src="../static/IMG/" alt="WEB">
        
        </div>
        <div class="imagem_livro">
              <img src="../static/IMG/" alt="">
        </div>
        <div class="links_internet">
            <li>
                Um guia definitivo para o Scrum: As regras do jogo em:  https://scrumguides.org/docs/scrumguide/v1/Scrum-Guide-Portuguese-BR.pdf
        </li>
         <br>   
        <li>
                Vídeo:Scrum // Dicionário do Programador(Canal Código Fonte TV) em:  https://www.youtube.com/watch?v=3aCww_1RnL0&t=187s
        </li>
        <br>     
            <li>
                O que é Scrum? em: https://aws.amazon.com/pt/what-is/scrum/
            </li>
            <br>    
            <li>
                Apresentação do Scrum. DevMedia, 2023. Disponível em: https://www.devmedia.com.br/apresentacao-do-scrum/27887. 
            </li>
            <br>   
            <li>
                O que é metodologia Scrum? Nimble Work, 2023. Disponível em: https://www.nimblework.com/pt-br/agile/metodologia-scrum/. 
            </li>
            <br>   
            <li>
                Aprenda Sobre A Auto-Organização No Scrum E Otimize Sua Equipe De Desenvolvimento : https://awari.com.br/aprenda-sobre-a-auto-organizacao-no-scrum-e-otimize-sua-equipe-de-desenvolvimento/?
            </li>
            <br>   
            <li>
                Práticas De Facilitação Do Scrum Master : https://awari.com.br/praticas-de-facilitacao-do-scrum-master/?
            </li>
            <br>   
            <li>
                Visão De Produto No Scrum: Como Criar Uma Visão De Produto Eficaz : https://awari.com.br/visao-de-produto-no-scrum-como-criar-uma-visao-de-produto-eficaz/?
            
            </li>
            <br>   
            <li>
                Como Estimar Tarefas No Scrum: Guia Completo Para Uma Gestão Eficiente : https://awari.com.br/como-estimar-tarefas-no-scrum-guia-completo-para-uma-gestao-eficiente
            </li>
            <br>   
            <li>
                User Stories: Como Criar e Utilizar para um Desenvolvimento de Software : https://awari.com.br/user-stories/

            </li>
            <br>   
            <li>
                O que é a Retrospectiva da Sprint?,Agile School: https://agileschool.com.br/o-que-e-a-retrospectiva-da-sprint/
            </li>
            <br>   
            <li>
                Sprint Review: O que é e por que você deveria começar a fazer?,IEEP: https://www.ieepeducacao.com.br/sprint-review/

            </li>

        </div>
   </section>
  
   
</main>










{% endblock %}