{% extends "base.html" %}

{% block header %}
<nav>
    <div class="submenu">
            <a href="#card1">Sprint</a>
            <a href="#card2">Sprint Planning</a>
            <a href="#card3">Daily Scrum</a>
            <a href="#card4">Sprint Review</a>
            <a href="#card5">Sprint Retrospective</a>
            <a href="#card6">Perguntas</a>
    </div>

</nav>

{% endblock %}

{% block main %}
<div class="card" id="card1">
    <div class="card-content">
        <h2>Sprint</h2>
        
        <li>
             <p>
                Considerada o “coração” do Scrum.
            </p>
        </li>
        <li>
            <p>
                É um ciclo de desenvolvimento com um tempo pré determinado.       
            </p>
        </li>
        <li>
            <p>
                Apresenta uma duração em torno de 3 a 4 semanas, na qual o time completa um conjunto de histórias.   
            </p>
        </li> 
        <li>
            <p>
                Um projeto não tem um número determinado de sprints, podendo ter 4 ou até 12 sprints, tudo vai depender do nível de complexidade do projeto.          
            </p>
        </li>
       
    </div>
    <!-- <img src="../static/IMG/imagem 1 eventos.png" alt="Imagem 1"> -->
</div>

<div class="card" id="card2">
    <div class="card-content">
        <h2>Sprint Planning</h2>
        
        <li>
            <p>
                Reunião feita no inicio de cada sprint, com o intuito de planejar a sprint.
            </p>
        </li>
        <li>
            <p>
                No planejamento, serão estabelecidos os itens que entrarão no sprint backlog, aonde deverão ser entregues ao final da sprint, além de definir uma meta a ser atingida com a sprint.     
            </p>
        </li>
            <p>
            Tempo de duração determinado em aproximadamente oito horas.
            </p>
        <li>
            <p>
                Pode ser dividida em duas partes, usando como base duas perguntas:
           
                -> O que será entregue no incremento resultante da sprint?
                
                -> Como faremos para entregar o incremento nesta sprint?
            </p>
        </li>

    </div>
    <!-- <img src="../static/IMG/image 2 eventos.png" alt="Imagem 1"> -->
</div>

<div class="card" id="card3">
    <div class="card-content">
        <h2>Daily Scrum</h2>
       
        <li>
            <p>
                Reuniões executadas diariamente entre o time de desenvolvimento e o scrum master.
            </p>
        </li>
        <li>
            <p>
                É na daily scrum que se faz o sincronismo das tarefas, e o planejamento para as próximas 24 horas.
            </p>
        </li>
            <p>
                Tempo ideal de duração são 15 minutos.
            </p>
        <li>
            <p>
                Questões a serem levantadas durante a daily:
                
                -> O que foi feito no dia anterior.
               
                -> O que será feito no dia atual.
               
                -> Se há ou houve algum impeditivo que dificultou a conclusão de algo.
            </p>
        </li>

    </div>
    <!--<img src="../static/IMG/image 3 eventos.png" alt="Imagem 1">-->
</div>

<div class="card" id="card4">
    <div class="card-content">
        <h2>Sprint Review</h2>
  
        <li>
            <p>
                Conhecida também como “Demonstração do Produto” é uma etapa de verificação do produto. 
            </p>
        </li>
        <li>
            <p>
                Consiste em revisar o projeto em cada final de sprint. 
            </p>
        </li>
            <p>
                Tendo como seu principal objetivo verificar as entregas e verificar os critérios estabelecidos no planejamento.
            </p>
        <li>
            <p>
                Um detalhe importante é de que, se a entrega não for passível de um feedback, não será possível a revisão.
            </p>
        </li>

    </div>
    <!-- <img src="img/facilitação.jpg" alt="Imagem 1"> -->
</div>

<div class="card" id="card5">
    <div class="card-content">
        <h2>Sprint Retrospective</h2>
        
        <li>
            <p>
                É o fechamento do produto após todo o ciclo de desenvolvimento do produto ao final da sprint. O momento da sprint em que o time se dedica à inspecionar o seu trabalho.
            </p>
        </li>
        <li>
            <p>
                O formato de inspeção é simples e dividido em 3 fases.
            </p>
        </li>
            <p>
                Primeira Fase : A equipe levanta todas as influências positivas ao resultado final.
            </p>
        <li>
            <p>
                Segunda Fase: Já nessa fase são levantadas fatos que não resultaram em bons aspectos e que merecem serem aprimorados.
            </p>
        </li>
        <li>
            <p>
                Terceira Fase: Após todos os pontos apresentados, o time constrói um plano de acordo para o futuro, plano para melhoria contínua com tarefas a serem executadas na próxima Sprint.
            </p>
        </li>

    </div>
    <!-- <img src="img/facilitação.jpg" alt="Imagem 1"> -->
</div>


    <!-- <img src="img/facilitação.jpg" alt="Imagem 1"> -->
</div>

<!--Inicio das Perguntas-->
<main>
    <section>
        <div class="container">
                <p>1 - Um Team Scrum, está desenvolvendo e-commerce, após a primeira sprint, o Team Scrum
                    foi fazer a Sprint Planning, porém estavam com dificuldade de planejar a próxima Sprint.
                    Qual das alternativas a seguir apresenta os termos essenciais a serem planejados na Sprint
                    seguinte?</p>
                <div class="choice-container">
                    <span class="choice-prefix">A</span>
                    <span class="choice-text">Planejar quem vai ser o novo P.O e Scrum Master do Team Scrum.</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">B</span>
                    <span class="choice-text">Nunca mexer no backlog, apenas fazer o mesmo processo da primeira Sprint.</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">C</span>
                    <span class="choice-text">Incrementar o backlog com novos itens, além de definir uma meta para a próxima Sprint.</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">D</span>
                    <span class="choice-text">Não realizar nenhum incremento no produto.</span>
                </div>
                <div>
                    <strong>Justificativa: Alternativa C, ao final de cada sprint é feito um Sprint Planning, aonde será planejado os itens que serão adicionados ao backlog, e definir uma meta para a próxima sprint.  </strong>
                  
                </div>
                <br><hr>
                <br>
            
                <p>2 - Samuel faz parte do time de desenvolvimento do Scrum, e esta tendo vários impeditivos, e não está conseguindo desenvolver sua parte do projeto. Em Qual evento Samuel pode relatar os problemas que anda enfrentando?</p>
                <div class="choice-container">
                    <span class="choice-prefix">A</span>
                    <span class="choice-text">Sprint Review</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">B</span>
                    <span class="choice-text">Sprint</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">C</span>
                    <span class="choice-text">Sprint Retrospective</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">D</span>
                    <span class="choice-text">Daily Scrum</span>
                </div>
                <div>
                    <strong>Justificativa: Alternativa D, é na daily scrum que o Scrum Master, irá ouvir, se algum membro do time de desenvolvimento apresentou algum problema, visto o problema o mesmo irá solucionar.  </strong>  
                </div>
        </div>
                <br><hr>
                <br>
        
                <div>
                    <p>3 -   Em qual momento o time srcrum dedica o seu tempo a inspecionar, analisar e criar um plano de acordo?</p>
                <div class="choice-container">
                    <span class="choice-prefix">A</span>
                    <span class="choice-text">Sprint Review</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">B</span>
                    <span class="choice-text">Daily Sprint</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">C</span>
                    <span class="choice-text">Revisão de planejamento</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">D</span>
                    <span class="choice-text">Retrospectiva Sprint</span>
                </div>
                <div>
                    <strong>Justificativa: Alternativa D, É na Retrospectiva Sprint que após o fechamento de todo o ciclo de desenvolvimento que o time dedica seu tempo a inspecionar, analisar e com base criar o plano de acordo afim de melhoria contínua.  </strong>
                </div>
                <br><hr>
                <br>
                    
                <p>4 - Durante todo o processo da sprint ao final dela é realizada a verificação do produto, e de como prosseguir adiante. Como todos os integrantes da equipe participa do processo, quem tem a função de validar se todos os critérios foram executados?</p>
                <div class="choice-container">
                    <span class="choice-prefix">A</span>
                    <span class="choice-text">Scrum Master</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">B</span>
                    <span class="choice-text">Product Owner</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">C</span>
                    <span class="choice-text">Cliente</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">D</span>
                    <span class="choice-text">Time Scrum</span>
                </div>
                <div>
                    <strong>Justificativa: Alternativa B,  PO ( Product Owner ) é considerado líder da equipe, com isso ele é quem gerencia e prioriza a backlog do produto.  </strong>
                </div>
                </div>
                <br>
                
    </section>
</main>
<!--Fim das perguntas-->


{% endblock %}
