{% extends "base.html" %}

{% block header %}

<nav>
    <div class="submenu">
            <a href="sprint.html ">Sprint</a>
            <a href="sprintplanning.html">Sprint Planning</a>
            <a href="dailyscrum.html">Daily Scrum</a>
            <a href="sprintreview.html">Sprint Review</a>
            <a href="sprintretrospective.html">Sprint Retrospective</a>
            <a href="perguntas.html">Perguntas</a>
    </div>

</nav>

{% endblock %}

{% block main %}

<h1>HOME</h1>

{% endblock %}

