{% extends "base.html" %}

{% block main %}

<main class="main">
    <section class="main__texto">
      <h3 class="main__texto_titulo">Definição</h3>
      <p class="main__texto_conteudo">Um framework onde as pessoas podem tratar e <span>resolver problemas complexos</span> e adaptativos de <span>forma ágil.</span></p>
    </section>
    <section class="carousel">
          <input type="radio" name="position" checked />
          <input type="radio" name="position" />
          <input type="radio" name="position" />
      <section class="carousel__cards">
        <div class="carousel__cards_item"><h2>TRANSPARÊNCIA</h2><p>Todos os envolvidos devem ser diretos, transaparentes e confiarem uns nos outros</p><p>Todos devem conhecer os objetivos do projeto e colaborar para que este seja alcançado.</p></div>
        <div class="carousel__cards_item"><h2>INSPEÇÃO</h2><p>Verificações sobre o produto, processos, aspectos comportamentais das pessoas e boas práticas devem ser feitos constantemente.</p></div>
        <div class="carousel__cards_item"><h2>ADAPTÇÃO</h2><p>O projeto deve ser adaptado às mudanças que porventura possam ocorrer proveniente de necessidade do negócio do cliente.</p></div>
      </section>
    </section>
    <section>
        <div class="container">
                <p>1. Uma empresa de desenvolvimento de software está enfrentando desafios na gestão de projetos, como atrasos nas
                    entregas, falta de transparência na comunicação da equipe, dificuldade em se adaptar às mudanças no mercado e
                    baixa satisfação dos clientes. A alta administração está buscando uma solução eficaz para abordar esses problemas.
                    Qual dos seguintes métodos é mais recomendado para resolver esses desafios?
                    </p>
                <div class="choice-container">
                    <span class="choice-prefix">A</span>
                    <span class="choice-text">Six Sigma</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">B</span>
                    <span class="choice-text">Agile Scrum</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">C</span>
                    <span class="choice-text">Lean Manufacturing</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">D</span>
                    <span class="choice-text">Waterfall</span>
                </div>
                <div>
                    <strong>Justificativa:</strong>
                    <p>Alternativa correta: B. O método Scrum é uma abordagem ágil amplamente adotada para gerenciamento de projetos, especialmente no desenvolvimento de software. Ele oferece uma estrutura flexível que pode ajudar a empresa a lidar com os desafios mencionados, por exemplo: comunicação, entrega contínua e adaptalidade</p>
                </div>
        </div>
        <div class="container">
            <p>2. Uma empresa de consultoria está tendo dificuldades para se adaptar às mudanças frequentes nos requisitos dos
                projetos, o que está resultando em atrasos e insatisfação do cliente. A alta administração deseja resolver esse 
                problema e está em busca de uma solução eficaz. Qual dos seguintes métodos é mais apropriado para abordar 
                esse desafio?
                </p>
            <div class="choice-container">
                <span class="choice-prefix">A</span>
                <span class="choice-text">Fordismo</span>
            </div>
            <div class="choice-container">
                <span class="choice-prefix">B</span>
                <span class="choice-text">Lean Six Sigma</span>
            </div>
            <div class="choice-container">
                <span class="choice-prefix">C</span>
                <span class="choice-text">PRINCE2</span>
            </div>
            <div class="choice-container">
                <span class="choice-prefix">D</span>
                <span class="choice-text">Scrum</span>
            </div>
            <div>
                <strong>Justificativa:</strong>
                <p>Alternativa correta: D.O método Scrum é a solução mais adequada para abordar o desafio de falta de adaptação em projetos devido à sua facilidade de adaptatividade e outras razões: adaptação iterativa, colaboração contínua e visibilidade e transparência.</p>
            </div>
    </div>
    </section>
  </main>

{% endblock %}

