{% extends "base.html" %}
{% block main %}
    <h1>Avaliação PACER</h1>
                <h2>Product Owner:</h2>
                <div class="pacer_card_geral">
                    <div class="pacer_card">
                        <div class="pacer_card__ngc"> 
                            
                        </div>
                                <div class="pacer_check">
                                    <span>0</span> 
                                    <span>1</span> 
                                    <span>2</span> 
                                    <span>3</span> 
                                </div>
                    </div>
                    <div class="pacer_card">
                        <div class="pacer_card__ngc"> 
                            <h3>Proatividade:</h3> 
                        </div>
                                <div class="pacer_check">
                                    <input type="radio" id="nota0"ve name="limite" value="0">
                                    <input type="radio" id="nota1"ve name="limite" value="1">
                                    <input type="radio" id="nota2"ve name="limite" value="2">
                                    <input type="radio" id="nota3"ve name="limite" value="3"> 
                                </div>
                    </div>
                    <div class="pacer_card">
                        <div class="pacer_card__ngc"> 
                            <h3>Proatividade:</h3> 
                        </div>
                                <div class="pacer_check">
                                    <input type="radio" id="nota0"ve name="limite" value="0">
                                    <input type="radio" id="nota1"ve name="limite" value="1">
                                    <input type="radio" id="nota2"ve name="limite" value="2">
                                    <input type="radio" id="nota3"ve name="limite" value="3"> 
                                </div>
                    </div>
                    <div class="pacer_card">
                        <div class="pacer_card__ngc"> 
                            <h3>Proatividade:</h3> 
                        </div>
                                <div class="pacer_check">
                                    <input type="radio" id="nota0"ve name="limite" value="0">
                                    <input type="radio" id="nota1"ve name="limite" value="1">
                                    <input type="radio" id="nota2"ve name="limite" value="2">
                                    <input type="radio" id="nota3"ve name="limite" value="3"> 
                                </div>
                    </div>
                <h2>Scrum Master:</h2>
                
                <div class="card_geral">
                    <div class="card">
                        <div class="card__ngc"> 
                            
                        </div>
                                <div class="check">
                                    <span>0</span> 
                                    <span>1</span> 
                                    <span>2</span> 
                                    <span>3</span> 
                                </div>
                    </div>
                    <div class="card">
                        <div class="card__ngc"> 
                            <h3>Proatividade:</h3> 
                        </div>
                                <div class="check">
                                    <input type="radio" id="nota0"ve name="limite" value="0">
                                    <input type="radio" id="nota1"ve name="limite" value="1">
                                    <input type="radio" id="nota2"ve name="limite" value="2">
                                    <input type="radio" id="nota3"ve name="limite" value="3"> 
                                </div>
                    </div>
                    <div class="card">
                        <div class="card__ngc"> 
                            <h3>Autonomia:</h3> 
                            </div>
                                <div class="check">
                                    <input type="radio" id="nota0"ve name="limite1" value="0">
                                    <input type="radio" id="nota1"ve name="limite1" value="1">
                                    <input type="radio" id="nota2"ve name="limite1" value="2">
                                    <input type="radio" id="nota3"ve name="limite1" value="3">  
                                </div>
                    </div>
                    <div class="card">
                        <div class="card__ngc"> 
                            <h3>Colaboração:</h3> 
                            </div>
                                <div class="check">
                                    <input type="radio" id="nota0"ve name="limite2" value="0">
                                    <input type="radio" id="nota1"ve name="limite2" value="1">
                                    <input type="radio" id="nota2"ve name="limite2" value="2">
                                    <input type="radio" id="nota3"ve name="limite2" value="3">  
                                </div>
                    </div>
                    <div class="card">
                        <div class="card__ngc"> 
                            <h3>Entrega de resultados:</h3> 
                            </div>
                                <div class="check">
                                    <input type="radio" id="nota0"ve name="limite3" value="0">
                                    <input type="radio" id="nota1"ve name="limite3" value="1">
                                    <input type="radio" id="nota2"ve name="limite3" value="2">
                                    <input type="radio" id="nota3"ve name="limite3" value="3"> 
                                </div>
                    </div>
                </div>
                <h2>Membro 1:</h2>
                
                <div class="card_geral">
                    <div class="card">
                        <div class="card__ngc"> 
                            
                        </div>
                                <div class="check">
                                    <span>0</span> 
                                    <span>1</span> 
                                    <span>2</span> 
                                    <span>3</span> 
                                </div>
                    </div>
                    <div class="card">
                        <div class="card__ngc"> 
                            <h3>Proatividade:</h3> 
                        </div>
                                <div class="check">
                                    <input type="radio" id="nota0"ve name="limite" value="0">
                                    <input type="radio" id="nota1"ve name="limite" value="1">
                                    <input type="radio" id="nota2"ve name="limite" value="2">
                                    <input type="radio" id="nota3"ve name="limite" value="3"> 
                                </div>
                    </div>
                    <div class="card">
                        <div class="card__ngc"> 
                            <h3>Autonomia:</h3> 
                            </div>
                                <div class="check">
                                    <input type="radio" id="nota0"ve name="limite1" value="0">
                                    <input type="radio" id="nota1"ve name="limite1" value="1">
                                    <input type="radio" id="nota2"ve name="limite1" value="2">
                                    <input type="radio" id="nota3"ve name="limite1" value="3">  
                                </div>
                    </div>
                    <div class="card">
                        <div class="card__ngc"> 
                            <h3>Colaboração:</h3> 
                            </div>
                                <div class="check">
                                    <input type="radio" id="nota0"ve name="limite2" value="0">
                                    <input type="radio" id="nota1"ve name="limite2" value="1">
                                    <input type="radio" id="nota2"ve name="limite2" value="2">
                                    <input type="radio" id="nota3"ve name="limite2" value="3">  
                                </div>
                    </div>
                    <div class="card">
                        <div class="card__ngc"> 
                            <h3>Entrega de resultados:</h3> 
                            </div>
                                <div class="check">
                                    <input type="radio" id="nota0"ve name="limite3" value="0">
                                    <input type="radio" id="nota1"ve name="limite3" value="1">
                                    <input type="radio" id="nota2"ve name="limite3" value="2">
                                    <input type="radio" id="nota3"ve name="limite3" value="3"> 
                                </div>
                    </div>
                </div>
                <h2>Membro 2:</h2>
                
                <div class="card_geral">
                    <div class="card">
                        <div class="card__ngc"> 
                            
                        </div>
                                <div class="check">
                                    <span>0</span> 
                                    <span>1</span> 
                                    <span>2</span> 
                                    <span>3</span> 
                                </div>
                    </div>
                    <div class="card">
                        <div class="card__ngc"> 
                            <h3>Proatividade:</h3> 
                        </div>
                                <div class="check">
                                    <input type="radio" id="nota0"ve name="limite" value="0">
                                    <input type="radio" id="nota1"ve name="limite" value="1">
                                    <input type="radio" id="nota2"ve name="limite" value="2">
                                    <input type="radio" id="nota3"ve name="limite" value="3"> 
                                </div>
                    </div>
                    <div class="card">
                        <div class="card__ngc"> 
                            <h3>Autonomia:</h3> 
                            </div>
                                <div class="check">
                                    <input type="radio" id="nota0"ve name="limite1" value="0">
                                    <input type="radio" id="nota1"ve name="limite1" value="1">
                                    <input type="radio" id="nota2"ve name="limite1" value="2">
                                    <input type="radio" id="nota3"ve name="limite1" value="3">  
                                </div>
                    </div>
                    <div class="card">
                        <div class="card__ngc"> 
                            <h3>Colaboração:</h3> 
                            </div>
                                <div class="check">
                                    <input type="radio" id="nota0"ve name="limite2" value="0">
                                    <input type="radio" id="nota1"ve name="limite2" value="1">
                                    <input type="radio" id="nota2"ve name="limite2" value="2">
                                    <input type="radio" id="nota3"ve name="limite2" value="3">  
                                </div>
                    </div>
                    <div class="card">
                        <div class="card__ngc"> 
                            <h3>Entrega de resultados:</h3> 
                            </div>
                                <div class="check">
                                    <input type="radio" id="nota0"ve name="limite3" value="0">
                                    <input type="radio" id="nota1"ve name="limite3" value="1">
                                    <input type="radio" id="nota2"ve name="limite3" value="2">
                                    <input type="radio" id="nota3"ve name="limite3" value="3"> 
                                </div>
                    </div>
                </div>
{% endblock %}