{% extends "base.html" %}

{% block header %}
<nav>
    <div class="submenu">
            <a href="#card1">Team Scrum</a>
            <a href="#card2">Product Owner</a>
            <a href="#card3">Development Team</a>
            <a href="#card4">Scrum Master</a>
            <a href="#irparaopacer">Pacer</a>
            <a href="#card6">Perguntas</a>
    </div>

</nav>

{% endblock %}
{% block main %}
<div class="card" id="card1">
    <div class="card-content">
        <h2>Título do Card 1</h2>
        <p>Texto médio a grande do Card 1. Você pode adicionar mais texto aqui.</p>
        <li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum neque molestias qui obcaecati accusamus praesentium iste? Dolorem in reiciendis aperiam fugit. Est perferendis velit fugiat ipsum consequatur quisquam exercitationem consectetur?</p>
        </li>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, qui eius reprehenderit minima voluptates fuga quo laborum pariatur autem deserunt magni, assumenda officia, soluta earum! Dicta iure repellat fugit eveniet.
            </p>
        </li>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex facere voluptatem accusantium esse harum ipsa similique perferendis praesentium quibusdam aliquam libero quae tempora repellendus, animi, dolore, ducimus voluptatum voluptate? Dignissimos.
        </p>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, qui eius reprehenderit minima voluptates fuga quo laborum pariatur autem deserunt magni, assumenda officia, soluta earum! Dicta iure repellat fugit eveniet.
            </p>
        </li>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, qui eius reprehenderit minima voluptates fuga quo laborum pariatur autem deserunt magni, assumenda officia, soluta earum! Dicta iure repellat fugit eveniet.
            </p>
        </li>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, qui eius reprehenderit minima voluptates fuga quo laborum pariatur autem deserunt magni, assumenda officia, soluta earum! Dicta iure repellat fugit eveniet.
            </p>
        </li>

    </div>
    <img src="img/facilitação.jpg" alt="Imagem 1">
</div>


<div class="card" id="card2">
    <div class="card-content">
        <h2>Título do Card 1</h2>
        <p>Texto médio a grande do Card 1. Você pode adicionar mais texto aqui.</p>
        <li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum neque molestias qui obcaecati accusamus praesentium iste? Dolorem in reiciendis aperiam fugit. Est perferendis velit fugiat ipsum consequatur quisquam exercitationem consectetur?</p>
        </li>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, qui eius reprehenderit minima voluptates fuga quo laborum pariatur autem deserunt magni, assumenda officia, soluta earum! Dicta iure repellat fugit eveniet.
            </p>
        </li>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex facere voluptatem accusantium esse harum ipsa similique perferendis praesentium quibusdam aliquam libero quae tempora repellendus, animi, dolore, ducimus voluptatum voluptate? Dignissimos.
        </p>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, qui eius reprehenderit minima voluptates fuga quo laborum pariatur autem deserunt magni, assumenda officia, soluta earum! Dicta iure repellat fugit eveniet.
            </p>
        </li>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, qui eius reprehenderit minima voluptates fuga quo laborum pariatur autem deserunt magni, assumenda officia, soluta earum! Dicta iure repellat fugit eveniet.
            </p>
        </li>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, qui eius reprehenderit minima voluptates fuga quo laborum pariatur autem deserunt magni, assumenda officia, soluta earum! Dicta iure repellat fugit eveniet.
            </p>
        </li>

    </div>
    <img src="img/facilitação.jpg" alt="Imagem 1">
</div>

<div class="card" id="card3">
    <div class="card-content">
        <h2>Título do Card 1</h2>
        <p>Texto médio a grande do Card 1. Você pode adicionar mais texto aqui.</p>
        <li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum neque molestias qui obcaecati accusamus praesentium iste? Dolorem in reiciendis aperiam fugit. Est perferendis velit fugiat ipsum consequatur quisquam exercitationem consectetur?</p>
        </li>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, qui eius reprehenderit minima voluptates fuga quo laborum pariatur autem deserunt magni, assumenda officia, soluta earum! Dicta iure repellat fugit eveniet.
            </p>
        </li>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex facere voluptatem accusantium esse harum ipsa similique perferendis praesentium quibusdam aliquam libero quae tempora repellendus, animi, dolore, ducimus voluptatum voluptate? Dignissimos.
        </p>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, qui eius reprehenderit minima voluptates fuga quo laborum pariatur autem deserunt magni, assumenda officia, soluta earum! Dicta iure repellat fugit eveniet.
            </p>
        </li>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, qui eius reprehenderit minima voluptates fuga quo laborum pariatur autem deserunt magni, assumenda officia, soluta earum! Dicta iure repellat fugit eveniet.
            </p>
        </li>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, qui eius reprehenderit minima voluptates fuga quo laborum pariatur autem deserunt magni, assumenda officia, soluta earum! Dicta iure repellat fugit eveniet.
            </p>
        </li>

    </div>
    <img src="img/facilitação.jpg" alt="Imagem 1">
</div>
<div class="btn" > 
    <a id ="button" href="/Pacer" lang="en"> Avaliação PACER</a>
</div>

<main>
    <section>
        <div class="container">
                <p>1 - Durante a revisão da sprint, a equipe de desenvolvimento identifica um erro crítico em um incremento que já foi entregue. Quem é responsável por coordenar a correção deste erro?
                </p>
                <div class="choice-container">
                    <span class="choice-prefix">A</span>
                    <span class="choice-text">Scrum Master</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">B</span>
                    <span class="choice-text">Development Team</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">C</span>
                    <span class="choice-text">Product Owner</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">D</span>
                    <span class="choice-text">Equipe de Qualidade (QA)</span>
                </div>
                <div>
                    <strong>Justificativa: Alternativa B,  A equipe de desenvolvimento é responsável pela execução do trabalho durante a sprint,
                        incluindo a correção de erros técnicos. Se a equipe identificar um erro crítico em um incremento entregue, 
                        é sua responsabilidade coordenar e realizar a correção, em colaboração com o Product Owner, se necessário.
                    </strong>
                  
                </div>
                <p>2 - Durante a reunião de planejamento da sprint, a equipe de desenvolvimento expressa preocupações sobre a falta de clareza nos itens do backlog do produto. Eles estão tendo dificuldades para entender as histórias de usuário e os critérios de aceitação. Quem deve assumir a responsabilidade de esclarecer essas dúvidas?</p>
                <div class="choice-container">
                    <span class="choice-prefix">A</span>
                    <span class="choice-text">Development Team</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">B</span>
                    <span class="choice-text">Scrum Master</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">C</span>
                    <span class="choice-text">Product Owner</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">D</span>
                    <span class="choice-text">Todos os anteriores</span>
                </div>
                <div>
                    <strong>Justificativa: Alternativa C,  O Product Owner é o responsável por manter o backlog do produto em bom estado, incluindo a clareza das histórias de usuário e dos critérios de aceitação. Durante a reunião de planejamento da sprint, é o momento em que essas dúvidas devem ser esclarecidas para que a equipe de desenvolvimento possa compreender plenamente o que precisa ser feito durante a sprint. O Product Owner deve estar disponível para fornecer respostas e esclarecimentos sobre o backlog do produto. Embora o Scrum Master possa ajudar a facilitar a comunicação e resolver impedimentos, a responsabilidade principal por essa situação recai sobre o Product Owner.  </strong>
                  
                </div>
        </div>
                <div>
                    <p>3 -Durante uma reunião de retrospectiva da sprint, a equipe expressa preocupações sobre o ambiente de trabalho, mencionando distrações constantes e falta de recursos adequados. Quem é responsável por abordar essas preocupações?</p>
                <div class="choice-container">
                    <span class="choice-prefix">A</span>
                    <span class="choice-text">Scrum Master</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">B</span>
                    <span class="choice-text">Product Owner</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">C</span>
                    <span class="choice-text">Development Team</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">D</span>
                    <span class="choice-text">Gerente de Projetos</span>
                </div>
                <div>
                    <strong>Justificativa: Alternativa A, O Scrum Master é responsável por ajudar a equipe a melhorar continuamente seu processo 
                        de trabalho e remover quaisquer impedimentos que estejam afetando a produtividade da equipe. Neste caso, 
                        as preocupações relacionadas ao ambiente de trabalho e às distrações são obstáculos que afetam diretamente 
                        a equipe. Portanto, o Scrum Master é responsável por abordar essas preocupações, ajudando a equipe a 
                        encontrar maneiras de melhorar o ambiente e minimizar as distrações.  </strong>
                  
                </div>
                <p>4 - Durante o Sprint Review, a equipe está demonstrando as funcionalidades desenvolvidas durante o Sprint. 
                    Um stakeholder faz uma pergunta técnica específica sobre como uma determinada funcionalidade foi implementada. 
                    Quem é responsável por responder a essa pergunta?
                    </p>
                <div class="choice-container">
                    <span class="choice-prefix">A</span>
                    <span class="choice-text">Product Owner</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">B</span>
                    <span class="choice-text">Scrum Master</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">C</span>
                    <span class="choice-text">Development Team</span>
                </div>
                <div class="choice-container">
                    <span class="choice-prefix">D</span>
                    <span class="choice-text">Stakeholder </span>
                </div>
                <div>
                    <strong>Justificativa: Alternativa C,  Justificação: Durante o Sprint Review, a Development Team é responsável por apresentar as funcionalidades desenvolvidas 
                        e responder a perguntas técnicas relacionadas à implementação. Isso faz parte da transparência e da prestação de contas 
                        que o Scrum promove. O Product Owner geralmente está focado nos aspectos de negócios e na priorização do backlog, então, 
                        embora ele possa fornecer informações técnicas em alguns casos, a responsabilidade principal é da Development Team. 
                        O Scrum Master atua como um facilitador e coach, mas não é a principal fonte de respostas técnicas. Stakeholders podem 
                        fazer perguntas, mas a equipe de desenvolvimento é a melhor posicionada para responder perguntas técnicas detalhadas 
                        sobre o trabalho realizado durante o Sprint.  </strong>
                  
                </div>
                </div>
                
    </section>
</main>

{% endblock %}
