{% extends "base.html" %}

{% block header %}
<nav>
    <div class="submenu">
            <a href="#card1">Sprint</a>
            <a href="#card2">Sprint Planning</a>
            <a href="#card3">Daily Scrum</a>
            <a href="#card4">Sprint Review</a>
            <a href="#card5">Sprint Retrospective</a>
            <a href="#card6">Perguntas</a>
    </div>

</nav>

{% endblock %}
{% block main %}
<div class="card" id="card1">
    <div class="card-content">
        <h2>Título do Card 1</h2>
        <p>Texto médio a grande do Card 1. Você pode adicionar mais texto aqui.</p>
        <li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum neque molestias qui obcaecati accusamus praesentium iste? Dolorem in reiciendis aperiam fugit. Est perferendis velit fugiat ipsum consequatur quisquam exercitationem consectetur?</p>
        </li>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, qui eius reprehenderit minima voluptates fuga quo laborum pariatur autem deserunt magni, assumenda officia, soluta earum! Dicta iure repellat fugit eveniet.
            </p>
        </li>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex facere voluptatem accusantium esse harum ipsa similique perferendis praesentium quibusdam aliquam libero quae tempora repellendus, animi, dolore, ducimus voluptatum voluptate? Dignissimos.
        </p>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, qui eius reprehenderit minima voluptates fuga quo laborum pariatur autem deserunt magni, assumenda officia, soluta earum! Dicta iure repellat fugit eveniet.
            </p>
        </li>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, qui eius reprehenderit minima voluptates fuga quo laborum pariatur autem deserunt magni, assumenda officia, soluta earum! Dicta iure repellat fugit eveniet.
            </p>
        </li>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, qui eius reprehenderit minima voluptates fuga quo laborum pariatur autem deserunt magni, assumenda officia, soluta earum! Dicta iure repellat fugit eveniet.
            </p>
        </li>

    </div>
    <img src="img/facilitação.jpg" alt="Imagem 1">
</div>


<div class="card" id="card2">
    <div class="card-content">
        <h2>Título do Card 1</h2>
        <p>Texto médio a grande do Card 1. Você pode adicionar mais texto aqui.</p>
        <li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum neque molestias qui obcaecati accusamus praesentium iste? Dolorem in reiciendis aperiam fugit. Est perferendis velit fugiat ipsum consequatur quisquam exercitationem consectetur?</p>
        </li>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, qui eius reprehenderit minima voluptates fuga quo laborum pariatur autem deserunt magni, assumenda officia, soluta earum! Dicta iure repellat fugit eveniet.
            </p>
        </li>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex facere voluptatem accusantium esse harum ipsa similique perferendis praesentium quibusdam aliquam libero quae tempora repellendus, animi, dolore, ducimus voluptatum voluptate? Dignissimos.
        </p>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, qui eius reprehenderit minima voluptates fuga quo laborum pariatur autem deserunt magni, assumenda officia, soluta earum! Dicta iure repellat fugit eveniet.
            </p>
        </li>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, qui eius reprehenderit minima voluptates fuga quo laborum pariatur autem deserunt magni, assumenda officia, soluta earum! Dicta iure repellat fugit eveniet.
            </p>
        </li>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, qui eius reprehenderit minima voluptates fuga quo laborum pariatur autem deserunt magni, assumenda officia, soluta earum! Dicta iure repellat fugit eveniet.
            </p>
        </li>

    </div>
    <img src="img/facilitação.jpg" alt="Imagem 1">
</div>

<div class="card" id="card3">
    <div class="card-content">
        <h2>Título do Card 1</h2>
        <p>Texto médio a grande do Card 1. Você pode adicionar mais texto aqui.</p>
        <li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum neque molestias qui obcaecati accusamus praesentium iste? Dolorem in reiciendis aperiam fugit. Est perferendis velit fugiat ipsum consequatur quisquam exercitationem consectetur?</p>
        </li>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, qui eius reprehenderit minima voluptates fuga quo laborum pariatur autem deserunt magni, assumenda officia, soluta earum! Dicta iure repellat fugit eveniet.
            </p>
        </li>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex facere voluptatem accusantium esse harum ipsa similique perferendis praesentium quibusdam aliquam libero quae tempora repellendus, animi, dolore, ducimus voluptatum voluptate? Dignissimos.
        </p>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, qui eius reprehenderit minima voluptates fuga quo laborum pariatur autem deserunt magni, assumenda officia, soluta earum! Dicta iure repellat fugit eveniet.
            </p>
        </li>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, qui eius reprehenderit minima voluptates fuga quo laborum pariatur autem deserunt magni, assumenda officia, soluta earum! Dicta iure repellat fugit eveniet.
            </p>
        </li>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, qui eius reprehenderit minima voluptates fuga quo laborum pariatur autem deserunt magni, assumenda officia, soluta earum! Dicta iure repellat fugit eveniet.
            </p>
        </li>

    </div>
    <img src="img/facilitação.jpg" alt="Imagem 1">
</div>
{% endblock %}
