<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/CSS/perguntas.css">
</head>
<body>
    <header>

    </header>
    <main>
        <section>
            <div class="container">
                    <p>1.Imagine que você está liderando uma equipe de desenvolvimento de software usando o Scrum para criar um novo 
                        aplicativo de gerenciamento de tarefas. <br>Nesse contexto, qual dos seguintes artefatos Scrum seria o mais apropriado para
                        documentar as funcionalidades que a equipe planeja desenvolver?</p>
                    <div class="choice-container">
                        <span class="choice-prefix">A</span>
                        <span class="choice-text">Backlog do Protudo</span>
                    </div>
                    <div class="choice-container">
                        <span class="choice-prefix">B</span>
                        <span class="choice-text">Backlog da Sprint</span>
                    </div>
                    <div class="choice-container">
                        <span class="choice-prefix">C</span>
                        <span class="choice-text">Incremento</span>
                    </div>
                    <div class="choice-container">
                        <span class="choice-prefix">D</span>
                        <span class="choice-text">Burndown Chart</span>
                    </div>
                    <div>
                        <strong>Justificativa:</strong>
                    </div>
            </div>
        </section>
    </main>
    
    <footer>
    </footer>

</body>
</html>     