{% extends "base.html" %}



{% block main %}

<div class="card" id="card1">
    <div class="card-content">
        <h2><b>Auto-Organização</b></h2>
        <br>
         <h3>Times auto-organizados recebem bastante autonomia, e consequentemente bastante responsabilidade. Alguns exemplos onde a auto-organização é necessária:</h3>
        
        <br>
        <li>Na estimativa dos itens do Product Backlog.</li>
        <li>Na definição dos itens que farão parte do Sprint Backlog.</li>
        <li>No Daily Scrum.</li>
        <li>No acordo com a meta da Sprint.</li>

        <br>
        
            <h3>Como aprender sobre a auto-organização no Scrum e aplicar na sua equipe de desenvolvimento?</h3>

        <br>

        <li>Aprender sobre a auto-organização no Scrum e aplicá-la na sua equipe.  </li>
        <li>Promover a confiança e a transparência na equipe.</li>
        <li>Encorajar a colaboração e a tomada de decisões conjuntas.</li>
        <li>Fomentar a aprendizagem contínua e a melhoria prática.</li>
        <li> Estabelecer uma visão clara.</li>
        <li>Definir papéis e responsabilidades.</li>
        <li>Promover a colaboração e o compartilhamento de conhecimento.</li>
        <li>Utilizar ferramentas de gestão visual.</li>

        <br>
    </div>
    <!-- <img src="../static/IMG/card2_facilitaçao.jpg" alt="Imagem 1"> -->
</div>

<div class="card" id="card2">
    <div class="card-content">
        <h2><b>Facilitação</b></h2>
        <br>
        <li>
            
                Segundo Peter Pfeiffer no livro Facilitação de Projetos, “um facilitador é um catalisador para as diversas ideias que se apresentam em um grupo”. Assim, um facilitador procura sempre:
            
        </li>
        <br>
        <li>Otimizar processos de aprendizagem.</li>
        <li> Evitar que o grupo tome decisões erradas.</li>
        <li>Detectar e reduzir conflitos para aumentar a produtividade.</li>
        <li>Evitar que um grupo seja dominado por um indivíduo que se impõe.</li>
        <li> Motivar as pessoas mais tímidas e proporcionar uma participação mais ativa.</li>
        <li>Fazer com que a equipe entenda, aceite, apoie e tome decisões.</li>
        <li>E até mesmo, quando necessário, cobre do time alguma ação ou seja o que for, para que não aconteça do projeto ficar parado no lugar.</li>

        <br>
    </div>
    <!-- <img src="img/facilitação.jpg" alt="Imagem 1"> -->
</div>

<div class="card" id="card3">
    <div class="card-content">
        <h2><b>Visão</b></h2>
        <br>
        <li>
            
                Apesar de não ser oficialmente uma cerimônia Scrum, a Reunião de Visão do produto permite ao Product Owner expôr ao Development Team e ao Scrum Master a visão do produto que norteará o projeto. Nesta reunião, o Product Owner pode coletar sugestões e idéias para compor o Product Backlog. Esta reunião é importante para que todos dentro do Time Scrum saibam o direcionamento do projeto. Através desta visão, o Development Team sabe durante todo o ciclo de vida do projeto se estão ou não se desviando da visão original.
            
        </li>
        <br>
        <li>
            
                Criar uma Declaração de Visão também ajuda a definir a finalidade do produto. Em resumo, técnicas como “Elevator Statement , Product Vision Box, Product Roadmap, Project Datasheet”,nos ajudam a descrever o produto em poucas sentenças. Com isto, temos uma clareza maior sobre o que é o produto e para que ele serve.
            
        </li>
        <br>
    </div>
    <!-- <img src="img/facilitação.jpg" alt="Imagem 1"> -->
</div>

<div class="card" id="card4">
    <div class="card-content">
        <h2><b>User Stories</b></h2>
        <br>
        <li>
            
                Método utilizado pelo P.O, tendo a função de descrever uma funcionalidade ao cliente, em termos de negócio, não mantendo uma forma técnica.
            
        </li>
        <br>
        
        <h3>O User Stories tem que estar altamente alinhado com INVEST:</h3>
        
        <br>

        <li>Independent - idealmente, pode ser implementado em qualquer ordem.</li>
        <li> Negotiable - pode ser negociável.</li>
        <li>Valuable - possui valor ao cliente.</li>
        <li>Estimatable - é capaz de ser estimado e ordenado. </li>
        <li> Small - pequeno e com descrição curta.</li>

        <br>
        <li>
            <h3>  Modelo mais utilizado do user stories: </h3>
            
            <br>

            <p>- Eu, como um (papel), gostaria de (funcionalidade) para (motivo).</p>
                <br>
                Papel: Tipo de usuário que está utilizando o produto.
                <br>
                Funcionalidade: Funcionalidade desejada.
                <br>
                Motivo: Propósito da funcionalidade.
            
        </li>

        <br>

        <h3>Possui três aspectos: </h3>
        
        <br>

         <p>
               
            <li>Uma descrição escrita da história como um lembrete.</li>
         <li>Conversas sobre a história que servem para detalha-la.</li>
            <li>Testes que conduzem e documentam aspectos importantes da história e que podem determinar quando ela está completa.</li>
        </p>
    
        <br>

        <h3>Além dos aspectos, o método apresenta um cartão de notas, definido em 3Cs:</h3>

        <br>

        <p>
             <li>Cartão.</li>  
            <li>Conversão.</li> 
            <li> Confirmação.</li> 
           

        </p>
    </div>
    <!-- <img src="img/facilitação.jpg" alt="Imagem 1"> -->
</div>

<div class="card" id="card5">
    <div class="card-content">
        <h2><b>Estimativa</b></h2>
        <br>
        <li>
            
            É uma medida de tempo totalmente relacionado com o nível de esforço de uma tarefa.
        
        </li>
        <br>
        <li>
            
            É aplicado em uma dinâmica em grupo em que os integrantes recebem cards, no qual darão suas estimativas baseadas em sequência, a mais utilizada é a de Fibonacci (0, 1 ,2, 3, 5, 8, 13, 20, 40, 100, exemplo).
            
        </li>
        <br>


        <li> O P.O lê a descrição e tira quaisquer dúvidas que alguém do time tenha, vendo a descrição da tarefa cada membro seleciona uma carta ilustrando sua estimativa, sem mostrar aos outros.</li>
        <br>
        <li>Após todos selecionarem os cards, é feita uma comparação entre eles, pois normalmente são diferentes. </li>
        <br>
        <li>Assim todos entram em um consenso, mediante ao nível de esforço que cada um estimou, logo facilitando a entrega de resultados.</li>
    
    </div>
    <!-- <img src="/SPRINT 2/static/IMG/card6_estimativapoker.jpg" alt="Imagem poker"> -->
</div>

<!--Início das perguntas-->
<main>
    <h2 id="perguntas_artefatos">Perguntas</h2>
    <div class="container_perguntas">
    <section>
      <div class="container">
        <div class="question" id="question">1. Qual é um dos principais requisitos para que a auto-organização funcione efetivamente em uma equipe Scrum?</div>
        <div class="options">
          <div class="option">
            <button class="button" data-question="pergunta1" data-answer="wrong" onclick="checkAnswer('pergunta1', this)">Ter um líder designado para tomar todas as decisões.Backlog da Sprint</button>
          </div>
          <div class="option">
            <button class="button" data-question="pergunta1" data-answer="correct" onclick="checkAnswer('pergunta1', this)">Trabalhar em busca de uma meta compartilhada.</button>
          </div>
          <div class="option">
            <button class="button" data-question="pergunta1" data-answer="wrong" onclick="checkAnswer('pergunta1', this)">Ter um processo estritamente hierárquico.</button>
          </div>
          <div class="option">
            <button class="button" data-question="pergunta1" data-answer="wrong" onclick="checkAnswer('pergunta1', this)">Ter regras rígidas de disciplina</button>
          </div>

            <details>
              <summary class="justificativa_pergunta">Justicativa:</summary>
             <p>Alternativa correta: B.
                A auto-organização em uma equipe Scrum requer que os membros da equipe trabalhem juntos em direção a uma meta compartilhada. Isso significa que eles devem estar alinhados com os objetivos do projeto ou da sprint e colaborar para alcançá-los. Sem uma meta compartilhada, a equipe pode ter dificuldade em tomar decisões e priorizar tarefas de forma eficaz, o que pode levar a problemas de organização e produtividade. Portanto, a busca por uma meta compartilhada é um requisito fundamental para que a auto-organização funcione adequadamente em Scrum.</p>
             </details>
        </div>

    </section>
        <br>

    <hr>

    <section>
        <div class="container">
            <div class="question" id="question">2. Qual é uma das principais responsabilidades de um facilitador relação à facilitação de reuniões e interações da equipe Scrum?</div>
            <div class="options">
              <div class="option">
                <button class="button" data-question="pergunta2" data-answer="wrong" onclick="checkAnswer('pergunta2', this)">Influenciar ativamente nas decisões do time."</button>
              </div>
              <div class="option">
                <button class="button" data-question="pergunta2" data-answer="correct" onclick="checkAnswer('pergunta2', this)">Mediar conflitos entre os membros da equipe</button>
              </div>
              <div class="option">
                <button class="button" data-question="pergunta2" data-answer="wrong" onclick="checkAnswer('pergunta2', this)">Julgar as ações e ideias apresentadas pelo time</button>
              </div>
              <div class="option">
                <button class="button" data-question="pergunta2" data-answer="wrong" onclick="checkAnswer('pergunta2', this)">Falar mais do que ouvir durante as reuniões.</button>
              </div>

              <details>
                <summary class="justificativa_pergunta">Justicativa:</summary>
               <p>Alternativa correta: B. Mediar conflitos entre os membros da equipe. O Scrum Master desempenha um papel importante na facilitação, e uma das suas responsabilidades é mediar conflitos quando surgem entre os membros da equipe. Isso ajuda a manter um ambiente de trabalho colaborativo e produtivo, o que é essencial para o sucesso do Scrum. As outras opções, como influenciar ativamente nas decisões do time ou dominar as discussões, não são práticas apropriadas para um Scrum Master, pois sua função principal é apoiar e orientar a equipe, não impor suas próprias ideias ou agendas.

               </p>
               </details>
        </div>
    </section>

        <br>

        <hr>
    
        <section>
            <div class="container">
                <div class="question" id="question">3. Durante uma Reunião de Planejamento da Sprint, a equipe de desenvolvimento está discutindo a capacidade de entrega 
                    para a próxima Sprint. Qual artefato Scrum é utilizado como referência para entender a capacidade da equipe e ajudar 
                    na seleção de itens para o Sprint Backlog?</div>
                <div class="options">
                  <div class="option">
                    <button class="button" data-question="pergunta3" data-answer="wrong" onclick="checkAnswer('pergunta3', this)">Criar um cronograma detalhado para o projeto.</button>
                  </div>
                  <div class="option">
                    <button class="button" data-question="pergunta3" data-answer="correct" onclick="checkAnswer('pergunta3', this)">Coletar sugestões e ideias para o Product Backlog.</button>
                  </div>
                  <div class="option">
                    <button class="button" data-question="pergunta3" data-answer="wrong" onclick="checkAnswer('pergunta3', this)"> Definir a estratégia de marketing do produto.</button>
                  </div>
                  <div class="option">
                    <button class="button" data-question="pergunta3" data-answer="wrong" onclick="checkAnswer('pergunta3', this)">Avaliar o desempenho individual dos membros da equipe.</button>
                  </div>
    
                  <details>
                    <summary class="justificativa_pergunta">Justicativa:</summary>
                   <p>Alternativa correta: B.  Coletar sugestões e ideias para o Product Backlog. A Reunião de Visão do produto tem como principal objetivo permitir que o Product Owner exponha a visão do produto ao Development Team e ao Scrum Master, além de coletar sugestões e ideias para compor o Product Backlog. É uma oportunidade para alinhar a equipe em relação à visão do projeto e obter contribuições valiosas dos membros da equipe para o backlog. As outras opções não são os objetivos principais dessa reunião no contexto Scrum.</p>
                   </details>
            </div>
        </section>
    
        <br>
    
        <hr> 

        <section>
            <div class="container">
                <div class="question" id="question">4. Qual é o método descrito, utilizado pelo Product Owner (P.O) no Scrum, para descrever uma funcionalidade ao cliente em termos de negócio, não mantendo uma forma técnica?</div>
                <div class="options">
                  <div class="option">
                    <button class="button" data-question="pergunta4" data-answer="wrong" onclick="checkAnswer('pergunta4', this)">Product Vision</button>
                  </div>
                  <div class="option">
                    <button class="button" data-question="pergunta4" data-answer="correct" onclick="checkAnswer('pergunta4', this)">User Stories</button>
                  </div>
                  <div class="option">
                    <button class="button" data-question="pergunta4" data-answer="wrong" onclick="checkAnswer('pergunta4', this)">Sprint Planning</button>
                  </div>
                  <div class="option">
                    <button class="button" data-question="pergunta4" data-answer="wrong" onclick="checkAnswer('pergunta4', this)">Backlog Prioritization</button>
                  </div>
    
                  <details>
                    <summary class="justificativa_pergunta">Justicativa:</summary>
                   <p>Alternativa correta: B. O método descrito é usado para criar User Stories, que são uma forma de descrever funcionalidades do produto em termos de negócio, de forma simples e compreensível para o cliente e a equipe. Os User Stories incluem uma descrição escrita da história, conversas para detalhar a história e testes que documentam aspectos importantes da história. Além disso, são definidos em um formato específico, geralmente seguindo o padrão "Eu, como um (papel), gostaria de (funcionalidade) para (motivo)". Essas histórias devem estar alinhadas com os critérios INVEST (Independent, Negotiable, Valuable, Estimatable, Small) para serem eficazes no desenvolvimento ágil.</p>
                   </details>
            </div>
        </section>
    
        <br>
    
        <hr>

        <section>
            <div class="container">
                <div class="question" id="question">5. O que é o método descrito que ajuda a estimar o esforço de uma tarefa no Scrum?</div>
                <div class="options">
                  <div class="option">
                    <button class="button" data-question="pergunta5" data-answer="wrong" onclick="checkAnswer('pergunta5', this)">Sprint Planing"</button>
                  </div>
                  <div class="option">
                    <button class="button" data-question="pergunta5" data-answer="correct" onclick="checkAnswer('pergunta5', this)">Planning Poker</button>
                  </div>
                  <div class="option">
                    <button class="button" data-question="pergunta5" data-answer="wrong" onclick="checkAnswer('pergunta5', this)">Daily Standup</button>
                  </div>
                  <div class="option">
                    <button class="button" data-question="pergunta5" data-answer="wrong" onclick="checkAnswer('pergunta5', this)">Scrum Master Review</button>
                  </div>
    
                  <details>
                    <summary class="justificativa_pergunta">Justicativa:</summary>
                   <p>A lternativa correta: B. O método descrito é conhecido como Planning Poker, uma técnica usada no Scrum para estimar o esforço de uma tarefa. Os membros da equipe recebem cartas com valores de estimativa, como os da sequência de Fibonacci, e escolhem uma carta para representar sua estimativa pessoal para a tarefa. Em seguida, as estimativas são comparadas e discutidas para chegar a um consenso sobre o esforço necessário para concluir a tarefa. O Planning Poker ajuda a equipe a obter uma compreensão compartilhada do trabalho a ser feito e a facilitar o planejamento das Sprints.</p>
                   </details>
            </div>
        </section>
    
        <br>
    
        <hr>

        

        


</main>
    
<!--Fim das perguntas-->

{% endblock %}
