{% extends "base.html" %}

{% block header %}
<nav>
    <div class="submenu">
            <a href="#card1">Backlog do Produto</a>
            <a href="#card2">Backlog da Sprint</a>
            <a href="#card3">Incremento do Produto</a>
            <a href="#card4">Gráfico burndown</a>
            <a href="#card5">Definição de "concluído"</a>
            <a href="#card6">Perguntas</a>
    </div>
</nav>

{% endblock %}

{% block main %}
<body>
  <div class="card" id="card1">
    <div class="card-content">
        <h2>Backlog do Produto</h2>
        <li> É uma lista de recursos novos, aprimoramento, tarefas ou requisitos de trabalho</li>
        <li>Compilado a partir de fontes de informações como suporte ao cliente, análise da concorrência e demandas de mercado;</li>
        <li>Considerado “dinâmico”, pois é atualizado sob demanda a medida que novas informações estão disponíveis;</li>
        <li>Gerenciado pelo Product Owner, que é responsável por garantir que o Backlog seja visível, compreensível e priorizado.</li> 
    </div>
  </div>

  <div class="card" id="card2">
    <div class="card-content">
        <h2>Backlog da Sprint</h2>
        <li> Conjuntos de tarefas de Backlog do Produto que foram promovidas a serem desenvolvidas durante o próximo incremento do produto;</li>
        <li>Essa lista representa uma previsão de quais itens o Time de Desenvolvimento conseguirão entregar naquela Sprint;</li>
        <li>Pode ser ajustado durante a Sprint para incorporar aprendizados ou alterações nas circunstâncias;</li>
        <li>Criado na Reunião de Planejamento da Sprint</li> 
    </div>
  </div>

  <div class="card" id="card3">
    <div class="card-content">
        <h2>Incremento do Produto</h2>
        <li>Novas funcionalidades e melhorias no que foi produzido anteriormente;</li>
        <li>Quando há necessidades de mudanças um item é adicionado ao Backlog do Produto;</li>
        <li>A cada Sprint, um novo Incremento é adicionado ao produto existente, construindo gradualmente a funcionalidade desejada;</li>
        <li>Como resultado, o incremento do produto deve ser utilizável.</li> 
    </div>
  </div>

  <div class="card" id="card4">
    <div class="card-content">
        <h2>Gráfico Burndown</h2>
        <li> Não é um artefato oficial do Scrum;</li>
        <li>Muitas equipes utilizam para se comunicar e acompanhar o progresso em relação ao objetivo da Sprint;</li>
        <li>Facilita a identificação de tendências e a tomada de ações corretivas, se necessário;</li>
        <li>São úteis para ajudar e avaliar a velocidade de execução da equipe para que ela saiba se vai concluir ou precisará se reorganizar.</li> 
    </div>
  </div>

  <div class="card" id="card5">
    <div class="card-content">
        <h2>Definição de "concluído"</h2>
        <li>Deve ser documentado e compartilhado;</li>
        <li> É importante que todos da equipe tenham uma clara visão de “concluído”;</li>
        <li>Pode incluir requisitos de teste, revisões de código, documentação e outros padrões de qualidade;</li>
        <li>Ajuda a definir os limites do incremento e também define quando as tarefas estão prontas e podem ser fechadas.</li> 
    </div>
  </div>

    <h2 id="perguntas_artefatos">Perguntas</h2>
    <div class="container_perguntas">
    <section>
      <div class="container">
        <div class="question" id="question">1.Imagine que você está liderando uma equipe de desenvolvimento de software usando o Scrum para criar um novo aplicativo de gerenciamento de tarefas. Nesse contexto, qual dos seguintes artefatos Scrum seria o mais apropriado para documentar as funcionalidades que a equipe planeja desenvolver?</div>
        <div class="options">
          <div class="option">
            <button class="button" data-question="pergunta1" data-answer="wrong" onclick="checkAnswer('pergunta1', this)">Backlog da Sprint</button>
          </div>
          <div class="option">
            <button class="button" data-question="pergunta1" data-answer="correct" onclick="checkAnswer('pergunta1', this)""">Backlog do Produto</button>
          </div>
          <div class="option">
            <button class="button" data-question="pergunta1" data-answer="wrong" onclick="checkAnswer('pergunta1', this)"">Incremento</button>
          </div>
          <div class="option">
            <button class="button" data-question="pergunta1" data-answer="wrong" onclick="checkAnswer('pergunta1', this)"">Burndown Chart</button>
          </div>

            <details>
              <summary class="justificativa_pergunta">Justicativa:</summary>
             <p>Alternativa correta : B. O Backlog do Produto se trata de uma lista priorizada, com funcionalidades e requisitos que 
              deverão ser entregues ao longo das Sprints.</p>
             </details>
        </div>
    </section>

        <br>
        <hr>

    <section>
        <div class="container">
            <div class="question" id="question">2.Durante uma Reunião de Planejamento da Sprint, a equipe de desenvolvimento está discutindo a capacidade de entrega para a próxima Sprint. Qual artefato Scrum é utilizado como referência para entender a capacidade da equipe e ajudar na seleção de itens para o Sprint Backlog?</div>
            <div class="options">
              <div class="option">
                <button class="button" data-question="pergunta2" data-answer="wrong" onclick="checkAnswer('pergunta2', this)"">Done</button>
              </div>
              <div class="option">
                <button class="button" data-question="pergunta2" data-answer="wrong" onclick="checkAnswer('pergunta2', this)"">Backlog da Sprint</button>
              </div>
              <div class="option">
                <button class="button" data-question="pergunta2" data-answer="correct" onclick="checkAnswer('pergunta2', this)"">Incremento</button>
              </div>
              <div class="option">
                <button class="button" data-question="pergunta2" data-answer="wrong" onclick="checkAnswer('pergunta2', this)"">Burndown Chart</button>
              </div>

              <details>
                <summary class="justificativa_pergunta">Justicativa:</summary>
               <p>Alternativa correta : C. O Incremento é o resultado do trabalho realizado pela equipe de desenvolvimento até o 
                momento e representa a soma de todas as tarefas completadas até aquele ponto, assim sendo importante ter essa 
                referência para realizar a seleção da próxima Sprint Backlog.</p>
               </details>
        </div>
    </section>

        <br>
        <hr>

    <section>
          <div class="container">
              <div class="question" id="question">3.Durante uma Sprint, a equipe de desenvolvimento está trabalhando no Sprint Backlog. Qual dos seguintes artefatos Scrum é usado para rastrear o progresso da Sprint em relação ao trabalho planejado e é representado por um gráfico que mostra a tendência da conclusão das tarefas ao longo do tempo?</div>
              <div class="options">
                <div class="option">
                  <button class="button" data-question="pergunta3" data-answer="wrong" onclick="checkAnswer('pergunta3', this)"">Backlog do Produto</button>
                </div>
                <div class="option">
                  <button class="button" data-question="pergunta3" data-answer="correct" onclick="checkAnswer('pergunta3', this)"">Burndown Chart</button>
                </div>
                <div class="option">
                  <button class="button" data-question="pergunta3" data-answer="wrong" onclick="checkAnswer('pergunta3', this)"">Done</button>
                </div>
                <div class="option">
                  <button class="button" data-question="pergunta3" data-answer="wrong" onclick="checkAnswer('pergunta3', this)"">Backlog da Sprint</button>
                </div>

                <details>
                  <summary class="justificativa_pergunta">Justicativa:</summary>
                  <div class="justificativa_pergunta-texto">
                      <p>Alternativa correta: B.O Burndown Chart é um artefato Scrum usado para rastrear o progresso da Sprint em relação ao trabalho planejado.</p>
                  </div>
                </details>

          </div>
    </section>

    <br>
    <hr>

    <section>
      <div class="container">
          <div class="question" id="question">4.Qual é o propósito do Sprint Backlog no Scrum?</div>
          <div class="options">
            <div class="option">
              <button class="button" data-question="pergunta4" data-answer="wrong" onclick="checkAnswer('pergunta4', this)"">Manter uma lista de todas as funcionalidades desejadas para o produto</button>
            </div>
            <div class="option">
              <button class="button" data-question="pergunta4" data-answer="wrong" onclick="checkAnswer('pergunta4', this)"">Priorizar as histórias de usuário para o próximo lançamento</button>
            </div>
            <div class="option">
              <button class="button" data-question="pergunta4" data-answer="wrong" onclick="checkAnswer('pergunta4', this)"">Armazenar itens de alto nível para futuras iterações</button>
            </div>
            <div class="option">
              <button class="button" data-question="pergunta4" data-answer="correct" onclick="checkAnswer('pergunta4', this)"">Selecionar e planejar as atividades a serem realizadas durante a Sprint</button>
            </div>

            <details>
              <summary class="justificativa_pergunta">Justicativa:</summary>
             <p>Alternativa correta: D. O Sprint Backlog é uma lista dinâmica de itens selecionados do Product Backlog para serem implementados durante uma Sprint. A sua função principal é guiar o trabalho diário da equipe de desenvolvimento, detalhando as tarefas necessárias para atingir os objetivos da Sprint.</p>
             </details>
      </div>
</section>

        <br>
        <hr>


        </div>

        <script>
          function checkAnswer(question, clickedButton) {
              var buttons = document.querySelectorAll('[data-question="' + question + '"]');
              var correctAnswer;
              var wrongAnswers = [];
          
              for (var i = 0; i < buttons.length; i++) {
                  if (buttons[i].getAttribute('data-answer') === 'correct') {
                      correctAnswer = buttons[i];
                  } else {
                      wrongAnswers.push(buttons[i]);
                  }
              }
          
              for (var i = 0; i < wrongAnswers.length; i++) {
                  wrongAnswers[i].style.backgroundColor = '#FF7070';
              }
              correctAnswer.style.backgroundColor = '#79FBAD';
              clickedButton.style.backgroundColor = clickedButton.getAttribute('data-answer') === 'correct' ? '#79FBAD' : '#FF7070';
          }
          </script>

</body>
{% endblock %}
