{% extends "base.html" %}



{% block main %}
<div class="card" id="card1">
    <div class="card-content">
        <h2>Sprint</h2>
        
        <li>
          
                Considerada o “coração” do Scrum.
         
        </li>
        <li>
          
                É um ciclo de desenvolvimento com um tempo pré determinado.       
            
        </li>
        <li>
           
                Apresenta uma duração em torno de 3 a 4 semanas, na qual o time completa um conjunto de histórias.   
           
        </li> 
        <li>
  
                Um projeto não tem um número determinado de sprints, podendo ter 4 ou até 12 sprints, tudo vai depender do nível de complexidade do projeto.          
          
        </li>
       
    </div>
    <!-- <img src="../static/IMG/imagem 1 eventos.png" alt="Imagem 1"> -->
</div>

<div class="card" id="card2">
    <div class="card-content">
        <h2>Sprint Planning</h2>
        
        <li>
            
                Reunião feita no inicio de cada sprint, com o intuito de planejar a sprint.
            
        </li>
        <li>
         
                No planejamento, serão estabelecidos os itens que entrarão no sprint backlog, aonde deverão ser entregues ao final da sprint, além de definir uma meta a ser atingida com a sprint.     
                Tempo de duração determinado em aproximadamente oito horas.
        </li>
 
           
     
        <li>
      
                Pode ser dividida em duas partes, usando como base duas perguntas:
           
                -> O que será entregue no incremento resultante da sprint?
                
                -> Como faremos para entregar o incremento nesta sprint?
            
        </li>

    </div>
    <!-- <img src="../static/IMG/image 2 eventos.png" alt="Imagem 1"> -->
</div>

<div class="card" id="card3">
    <div class="card-content">
        <h2>Daily Scrum</h2>
       
        <li>
          
                Reuniões executadas diariamente entre o time de desenvolvimento e o scrum master.
         
        </li>
        <li>
  
                É na daily scrum que se faz o sincronismo das tarefas, e o planejamento para as próximas 24 horas.
                Tempo ideal de duração são 15 minutos.
         
        </li>

               
        <li>
      
                Questões a serem levantadas durante a daily:
                
                -> O que foi feito no dia anterior.
               
                -> O que será feito no dia atual.
               
                -> Se há ou houve algum impeditivo que dificultou a conclusão de algo.
        
        </li>

    </div>
    <!--<img src="../static/IMG/image 3 eventos.png" alt="Imagem 1">-->
</div>

<div class="card" id="card4">
    <div class="card-content">
        <h2>Sprint Review</h2>
  
        <li>
            
                Conhecida também como “Demonstração do Produto” é uma etapa de verificação do produto. 
            
        </li>
        <li>
          
                Consiste em revisar o projeto em cada final de sprint. 
                Tendo como seu principal objetivo verificar as entregas e verificar os critérios estabelecidos no planejamento.
           
         
        </li>
            
              
           
        <li>
           
                Um detalhe importante é de que, se a entrega não for passível de um feedback, não será possível a revisão.
           
        </li>

    </div>
    <!-- <img src="img/facilitação.jpg" alt="Imagem 1"> -->
</div>

<div class="card" id="card5">
    <div class="card-content">
        <h2>Sprint Retrospective</h2>
        
        <li>
         
                É o fechamento do produto após todo o ciclo de desenvolvimento do produto ao final da sprint. O momento da sprint em que o time se dedica à inspecionar o seu trabalho.
          
        </li>
        <li>
          
                O formato de inspeção é simples e dividido em 3 fases.
          
        </li>
        <li>
           
                Primeira Fase : A equipe levanta todas as influências positivas ao resultado final.
        </li>  
        <li>
           
                Segunda Fase: Já nessa fase são levantadas fatos que não resultaram em bons aspectos e que merecem serem aprimorados.
           
        </li>
        <li>
           
                Terceira Fase: Após todos os pontos apresentados, o time constrói um plano de acordo para o futuro, plano para melhoria contínua com tarefas a serem executadas na próxima Sprint.
            
        </li>

    </div>
    <!-- <img src="img/facilitação.jpg" alt="Imagem 1"> -->
</div>


    <!-- <img src="img/facilitação.jpg" alt="Imagem 1"> -->
</div>

<!--Início das perguntas-->
<main>
    <h2 id="perguntas_artefatos">Perguntas</h2>
    <div class="container_perguntas">
    <section>
      <div class="container">
        <div class="question" id="question">1. Um Team Scrum, está desenvolvendo e-comercy, após a primeira sprint, o Team Scrum foi fazer a Sprint Planning, porém estavam com dificuldade de planejar a próxima Sprint.
            Qual das alternativas a seguir apresenta os termos essenciais a serem planejados na Sprint
            seguinte?</div>
        <div class="options">
          <div class="option">
            <button class="button" data-question="pergunta1" data-answer="wrong" onclick="checkAnswer('pergunta1', this)">Planejar quem vai ser o novo P.O e Scrum Master do Team Scrum.</button>
          </div>
          <div class="option">
            <button class="button" data-question="pergunta1" data-answer="wrong" onclick="checkAnswer('pergunta1', this)">Nunca mexer no backlog, apenas fazer o mesmo processo da primeira Sprint.</button>
          </div>
          <div class="option">
            <button class="button" data-question="pergunta1" data-answer="correct" onclick="checkAnswer('pergunta1', this)">Incrementar o backlog com novos itens, além de definir uma meta para a próxima Sprint.</button>
          </div>
          <div class="option">
            <button class="button" data-question="pergunta1" data-answer="wrong" onclick="checkAnswer('pergunta1', this)">Não realizar nenhum incremento no produto.</button>
          </div>

            <details>
              <summary class="justificativa_pergunta">Justicativa:</summary>
             <p>Alternativa : C. Ao final de cada sprint é feito um Sprint Planning, aonde será planejado os itens que serão adicionados ao backlog, e definir uma meta para a próxima sprint.</p>
             </details>
        </div>

    </section>
        <br>

    <hr>

    <section>
        <div class="container">
            <div class="question" id="question">2. Samuel faz parte do time de desenvolvimento do Scrum, e esta tendo vários impeditivos, e não está conseguindo desenvolver sua parte do projeto. Em qual desses evento, Samuel pode relatar os problemas que anda enfrentando?</div>
            <div class="options">
              <div class="option">
                <button class="button" data-question="pergunta2" data-answer="wrong" onclick="checkAnswer('pergunta2', this)">Sprint Review.</button>
              </div>
              <div class="option">
                <button class="button" data-question="pergunta2" data-answer="wrong" onclick="checkAnswer('pergunta2', this)">Sprint.</button>
              </div>
              <div class="option">
                <button class="button" data-question="pergunta2" data-answer="wrong" onclick="checkAnswer('pergunta2', this)">Sprint Retrospective.</button>
              </div>
              <div class="option">
                <button class="button" data-question="pergunta2" data-answer="correct" onclick="checkAnswer('pergunta2', this)">Daily Scrum.</button>
              </div>

              <details>
                <summary class="justificativa_pergunta">Justicativa:</summary>
               <p>Alternativa : D. É na daily scrum que o Scrum Master, irá ouvir, se algum membro do time de desenvolvimento apresentou algum problema, visto o problema o mesmo irá solucionar.

               </p>
               </details>
        </div>
    </section>

        <br>

        <hr>
    
        <section>
            <div class="container">
                <div class="question" id="question">3. Em qual momento o time srcrum dedica o seu tempo a inspecionar, analisar e criar um plano de acordo?</div>
                <div class="options">
                  <div class="option">
                    <button class="button" data-question="pergunta3" data-answer="wrong" onclick="checkAnswer('pergunta3', this)">Sprint Review.</button>
                  </div>
                  <div class="option">
                    <button class="button" data-question="pergunta3" data-answer="wrong" onclick="checkAnswer('pergunta3', this)">Daily Sprint.</button>
                  </div>
                  <div class="option">
                    <button class="button" data-question="pergunta3" data-answer="wrong" onclick="checkAnswer('pergunta3', this)"> Revisão de Planejamento.</button>
                  </div>
                  <div class="option">
                    <button class="button" data-question="pergunta3" data-answer="correct" onclick="checkAnswer('pergunta3', this)"> Retrospectiva Sprint.</button>
                  </div>
    
                  <details>
                    <summary class="justificativa_pergunta">Justicativa:</summary>
                   <p>Alternativa: D.  É na Retrospectiva Sprint que após o fechamento de todo o ciclo de desenvolvimento que o time dedica seu tempo a inspecionar, analisar e com base criar o plano de acordo afim de melhoria contínua
                </p>
                   </details>
            </div>
        </section>
    
        <br>
    
        <hr> 

        <section>
            <div class="container">4. Durante todo o processo da sprint ao final dela é realizada a verificação do produto, e de como prosseguir adiante. Como todos os integrantes da equipe participa do processo, quem tem a função de validar se todos os critérios foram executados?</div>
                <div class="options">
                  <div class="option">
                    <button class="button" data-question="pergunta4" data-answer="wrong" onclick="checkAnswer('pergunta4', this)">Scrum Master</button>
                  </div>
                  <div class="option">
                    <button class="button" data-question="pergunta4" data-answer="correct" onclick="checkAnswer('pergunta4', this)">Product Owner</button>
                  </div>
                  <div class="option">
                    <button class="button" data-question="pergunta4" data-answer="wrong" onclick="checkAnswer('pergunta4', this)">Time Scrum</button>
                  </div>
                  <div class="option">
                    <button class="button" data-question="pergunta4" data-answer="wrong" onclick="checkAnswer('pergunta4', this)">Cliente</button>
                  </div>
    
                  <details>
                    <summary class="justificativa_pergunta">Justicativa:</summary>
                   <p>Alternativa: B.  PO ( Product Owner ) é considerado líder da equipe, com isso ele é quem gerencia e prioriza a backlog do produto.</p>
                   </details>
            </div>
        </section>
    
        <br>
    
        <hr>    

     

</main>
    
<!--Fim das perguntas-->


{% endblock %}
