{% extends "base.html" %}


{% block main %}

<div class="card" id="card1">
    <div class="card-content">
        <h2><b>Time Scrum</b></h2>
        <br>
        <p>
            Os papéis que compõem um time Scrum são poucos, mas muito bem definidos. Entretanto, é importante entender que são papéis, e não cargos. Isso pode causar um pouco de confusão em empresas que tentam fazer o mapeamento de cargos existentes aos papéis de Scrum. 
        </p>
        <br>
        <p>
            Times Scrum são auto organizados e multifuncionais. Por serem auto organizados, eles decidem qual a melhor forma de realizar seu trabalho, ao invés de serem direcionados por pessoas de fora do time. Times multifuncionais possuem capacidades que os tornam autossuficientes – que não dependem de pessoas de fora do time para completar seu trabalho. Este modelo foi desenhado para otimizar a flexibilidade, criatividade e produtividade.
        </p>
    </div>
</div>

<div class="card" id="card2">
    <div class="card-content">
        <h2><b>Product Owner</b></h2>
        <br>
        <p>
            O papel do Product Owner requer que a pessoa seja responsável por gerenciar o Product Backlog, garantir o ROI – Retorno Sobre o Investimento – definir a visão do produto, gerenciar a entrada de novos requisitos e definir sua ordem, gerenciar o plano de releases e aceitar ou rejeitar o que for entregue ao final de cada iteração. 
        </p>
        <br>
        <p>
            O Product Owner é o responsável por gerenciar o produto de forma a assegurar o valor do trabalho executado pelo Development Team. Assim, é de sua alçada transmitir ao time a visão do produto, bem como determinar o significado de cada um dos itens do backlog e as metas. E o sucesso do produto, por parte do Product Owner, está em sua capacidade de compreender as necessidades do negócio e do mercado, de forma que o Product Backlog reflita a importância de seus itens e também na efetividade em transmitir essas informações ao restante do Time Scrum.
        </p>
    </div>
</div>

<div class="card" id="card3">
    <div class="card-content">
        <h2><b>Development Team</b></h2>
        <br>
        <p>
            Um Development Team é responsável por desenvolver incrementos potencialmente entregáveis do produto segundo a Definition of Done ao final de cada iteração. Os Development Teams devem ser pequenos o suficiente de forma a se manter ágil e produtivo, e grande o suficiente de forma que a coordenação dos membros não cause problemas. 
        </p>
        <br>
        <p>
            Deve ser auto organizado e auto gerenciado e ninguém (nem o Scrum Master) diz a eles como transformar o Product Backlog em incrementos de funcionalidades potencialmente entregáveis. Também são responsáveis pela estimativa quanto ao tamanho dos itens do Product Backlog e por acordarem com a meta da iteração.
        </p>
        <br>
        <p>
            Por estarem trabalhando diariamente com as tarefas da iteração, o Development Team é responsável pelo microgerenciamento – andamento das tarefas, qualidade, prazo, etc. Além disso, é responsável pelo sucesso ou fracasso da iteração – ou seja, independe se os membros, individualmente, tenham terminado as tarefas das quais eram responsáveis. O resultado é sempre do time inteiro.
        </p>
    </div>
</div>

<div class="card" id="card4">
    <div class="card-content">
        <h2><b>Scrum Master</b></h2>
        <br>
        <p>
            O Scrum Master é a pessoa que mais conhece Scrum dentre todos os papéis. E seu papel não é fácil, ele é o responsável por: orientar o Product Owner na criação e ordenação do Product Backlog; garantir que as regras de Scrum estejam sendo cumpridas e seus valores seguidos; ser o facilitador nos eventos de Scrum; e também ajuda a remover impedimentos que o time enfrente. E isso sem fazer uso de qualquer autoridade. 
        </p>
        <br>
        <p>
            A relação entre o Scrum Master e os outros membros do Time Scrum é o de um líder na questão do processo – embora seja fundamental para as práticas de Scrum do time, ele não exerce papel ativo no desenvolvimento do processo de engenharia do time. Ele utiliza técnicas de facilitação e coaching para que os membros do time consigam visualizar os problemas e encontrem a melhor solução. Além disso, ele trabalha com os membros do time para que cada um consiga ser o mais eficiente possível, sempre de acordo com os valores e princípios de Agile e de Scrum. 
        </p>
        <br>
        <p>
            Durante os eventos, o Scrum Master tem a responsabilidade de fazer com que a reunião flua de forma adequada. Como os eventos têm duração fixa, é de extrema importância que situações onde hajam divergências sejam rapidamente resolvidas.
        </p>
    </div>
</div>

<div class="btn" > 
    <a id ="button" href='/CriarEquipe' lang="en"> Avaliação PACER</a>
</div>

<!--Início das perguntas-->
<main>
    <h2 id="perguntas_apendice">Perguntas</h2>
    <div class="container_perguntas">
    <section>
      <div class="container">
        <div class="question" id="question">1. Durante a revisão da sprint, a equipe de desenvolvimento identifica um erro crítico em um incremento que já foi entregue. Quem é responsável por coordenar a correção deste erro?
        </div>
        <div class="options">
          <div class="option">
            <button class="button" data-question="pergunta1" data-answer="wrong" onclick="checkAnswer('pergunta1', this)">Scrum Master.</button>
          </div>
          <div class="option">
            <button class="button" data-question="pergunta1" data-answer="correct" onclick="checkAnswer('pergunta1', this)">Development Team.</button>
          </div>
          <div class="option">
            <button class="button" data-question="pergunta1" data-answer="wrong" onclick="checkAnswer('pergunta1', this)">Product Owner.</button>
          </div>
          <div class="option">
            <button class="button" data-question="pergunta1" data-answer="wrong" onclick="checkAnswer('pergunta1', this)">Equipe de Qualidade (QA).</button>
          </div>

            <details>
              <summary class="justificativa_pergunta">Justicativa:</summary>
             <p>Alternativa correta: B. A equipe de desenvolvimento é responsável pela execução do trabalho durante a sprint,
                incluindo a correção de erros técnicos. Se a equipe identificar um erro crítico em um incremento entregue, 
                é sua responsabilidade coordenar e realizar a correção, em colaboração com o Product Owner, se necessário.
                </p>
             </details>
        </div>

    </section>
        <br>

    <hr>

    <section>
        <div class="container">
            <div class="question" id="question">2.Durante a reunião de planejamento da sprint, a equipe de desenvolvimento expressa preocupações sobre a falta de clareza nos itens do backlog do produto. Eles estão tendo dificuldades para entender as histórias de usuário e os critérios de aceitação. Quem deve assumir a responsabilidade de esclarecer essas dúvidas?</div>
            <div class="options">
              <div class="option">
                <button class="button" data-question="pergunta2" data-answer="wrong" onclick="checkAnswer('pergunta2', this)">Development Team</button>
              </div>
              <div class="option">
                <button class="button" data-question="pergunta2" data-answer="wrong" onclick="checkAnswer('pergunta2', this)">Scrum Master.</button>
              </div>
              <div class="option">
                <button class="button" data-question="pergunta2" data-answer="correct" onclick="checkAnswer('pergunta2', this)">Product Owner.</button>
              </div>
              <div class="option">
                <button class="button" data-question="pergunta2" data-answer="wrong" onclick="checkAnswer('pergunta2', this)">Todos os anteriores.</button>
              </div>

              <details>
                <summary class="justificativa_pergunta">Justicativa:</summary>
               <p>Alternativa correta: C. O Product Owner é o responsável por manter o backlog do produto em bom estado, incluindo a clareza das histórias de usuário e dos critérios de aceitação. Durante a reunião de planejamento da sprint, é o momento em que essas dúvidas devem ser esclarecidas para que a equipe de desenvolvimento possa compreender plenamente o que precisa ser feito durante a sprint. O Product Owner deve estar disponível para fornecer respostas e esclarecimentos sobre o backlog do produto. Embora o Scrum Master possa ajudar a facilitar a comunicação e resolver impedimentos, a responsabilidade principal por essa situação recai sobre o Product Owner.

               </p>
               </details>
        </div>
    </section>

        <br>

        <hr>
    
        <section>
            <div class="container">
                <div class="question" id="question">3.Durante uma reunião de retrospectiva da sprint, a equipe expressa preocupações sobre o ambiente de trabalho, mencionando distrações constantes e falta de recursos adequados. Quem é responsável por abordar essas preocupações?</div>
                <div class="options">
                  <div class="option">
                    <button class="button" data-question="pergunta3" data-answer="correct" onclick="checkAnswer('pergunta3', this)">Scrum Master</button>
                  </div>
                  <div class="option">
                    <button class="button" data-question="pergunta3" data-answer="wrong" onclick="checkAnswer('pergunta3', this)">Product Owner.</button>
                  </div>
                  <div class="option">
                    <button class="button" data-question="pergunta3" data-answer="wrong" onclick="checkAnswer('pergunta3', this)"> Development Team.</button>
                  </div>
                  <div class="option">
                    <button class="button" data-question="pergunta3" data-answer="wrong" onclick="checkAnswer('pergunta3', this)"> Gerente de projeto.</button>
                  </div>
    
                  <details>
                    <summary class="justificativa_pergunta">Justicativa:</summary>
                   <p> Alternativa correta: A. O Scrum Master é responsável por ajudar a equipe a melhorar continuamente seu processo 
                    de trabalho e remover quaisquer impedimentos que estejam afetando a produtividade da equipe. Neste caso, 
                    as preocupações relacionadas ao ambiente de trabalho e às distrações são obstáculos que afetam diretamente 
                    a equipe. Portanto, o Scrum Master é responsável por abordar essas preocupações, ajudando a equipe a 
                    encontrar maneiras de melhorar o ambiente e minimizar as distrações.
                </p>
                   </details>
            </div>
        </section>
    
        <br>
    
        <hr> 

        <section>
            <div class="container">4.Durante o Sprint Review, a equipe está demonstrando as funcionalidades desenvolvidas durante o Sprint. 
                Um stakeholder faz uma pergunta técnica específica sobre como uma determinada funcionalidade foi implementada. 
                Quem é responsável por responder a essa pergunta?
                </div>
                <div class="options">
                  <div class="option">
                    <button class="button" data-question="pergunta4" data-answer="wrong" onclick="checkAnswer('pergunta4', this)">Product Owner</button>
                  </div>
                  <div class="option">
                    <button class="button" data-question="pergunta4" data-answer="wrong" onclick="checkAnswer('pergunta4', this)">Scrum Master</button>
                  </div>
                  <div class="option">
                    <button class="button" data-question="pergunta4" data-answer="correct" onclick="checkAnswer('pergunta4', this)">Development Team</button>
                  </div>
                  <div class="option">
                    <button class="button" data-question="pergunta4" data-answer="wrong" onclick="checkAnswer('pergunta4', this)">Stakeholder</button>
                  </div>
    
                  <details>
                    <summary class="justificativa_pergunta">Justicativa:</summary>
                   <p>Alternativa correta: C. Justificação: Durante o Sprint Review, a Development Team é responsável por apresentar as funcionalidades desenvolvidas 
                    e responder a perguntas técnicas relacionadas à implementação. Isso faz parte da transparência e da prestação de contas 
                    que o Scrum promove. O Product Owner geralmente está focado nos aspectos de negócios e na priorização do backlog, então, 
                    embora ele possa fornecer informações técnicas em alguns casos, a responsabilidade principal é da Development Team. 
                    O Scrum Master atua como um facilitador e coach, mas não é a principal fonte de respostas técnicas. Stakeholders podem 
                    fazer perguntas, mas a equipe de desenvolvimento é a melhor posicionada para responder perguntas técnicas detalhadas 
                    sobre o trabalho realizado durante o Sprint.</p>
                   </details>
            </div>
        </section>
    
        <br>
    
        <hr>    

      
</main>
    
<!--Fim das perguntas-->

{% endblock %}
