{% extends "base.html" %}

{% block main %}

<style>

.tela_login{
  background-color: rgba(0,0,0,0.9);
  margin: 2% 30%;
  padding: 80px;
  border-radius: 15px;
  color: #fff;

}
.tela_login h1{
    margin-bottom: 5%;
}


.tela_login input{
  padding: 15px;
  width: 200px;
  border: none;
  outline: none;
  font-size: 15px;

}

.tela_login button{
  background-color: rgb(14, 110, 255);
  border: none;
  padding: 15px;
  width:100%;
  border-radius:10px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width:915px){
  .tela_login{
    margin-left: 1% ;
    margin-right: 25%;


  }

  .tela_login input{
  padding: 15px;
  
  width: 150px;
  border: none;
  outline: none;
  font-size: 15px;

}



}


</style>



<div class="tela_login">
  <form action="/limitante" method="post">

    <h1> Adicione sua equipe! </h1>
    <br>
    <input type="number" placeholder="Número de DevTeams" name="quantidade_de_dev_teams">
    <br><br>
    
    <button>Criar</button>
  </form>
</div>

{% endblock %}