

nav{
    width: 100%;
    border: 0px red solid;
    
   
}
.submenu{
    background-color: #D9D9D9;
    border: 0px red solid;
    margin-top:3%;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    
    
}
a{
    color: black;
    text-decoration: none;
   
}